In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import os
import sys
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)

In [2]:
NC_TRACKER_28_JAN_24=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\NC_TRACKER\PREVIOUS WEEK REPORT\NC_TRACKER_28_JAN_24.xlsx")
NC_TRACKER_28_JAN_24.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\OUTPUT_NC_TRACKER\NC_TRACKER_28_JAN_24.csv",index= False)
NC_TRACKER_28_JAN_24=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\OUTPUT_NC_TRACKER\NC_TRACKER_28_JAN_24.csv")

In [3]:
NC_TRACKER_28_JAN_24.head(1)

,S.No,DeviceId,Email Time,Ticket Date,Vendor Resolution Plan Date,Vendor Resolved Date,New/OLD Cases,Jan- Plan,InstallationDatetime,Last DP Date,Last BP Date,Ip,Ping Status,Consumer ID,Installation No,Name,Address,Mobile Number,Utility Name,MRU,Lat,Long,Category Name,Phase,Town,Vendor Name,Section,Division,Cluster,Ageing,Tenure,Priority,Previous Field Remarks,Bucket,Responsibility,IT Issue,EESL Remarks 1,EESL Remarks,EESL Bucket
0,1,LT8072490,6:00 P.M,2023-11-05,NaN,NaN,Old Case,Old Case,2023-10-10 18:53:52,2023-10-27,NaN,2405:0203:0535:216B:0000:0000:0000:0010,NaN,108709143,5004055256,MUKESH KUMAR,"KHATA NO 162, WARD NO",9546520585,SBPD,0,25.553647,84.662457,NDS-IID(B),3,Ara,Astute,SEC-HEADQUARTER,ARRAH,Rakesh Kumar,93,61-120 Days,P1,Error 3,VENDOR,Rakesh Kumar,NaN,TSP Issues,TSP Issues,EDF

In [4]:
# INFRASTRUCTURE DATA

Infrastructure_Devices_NB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\NC_TRACKER\INPUT_DATA\Infrastructure_Devices_NB.csv" , sep = ';')
Infrastructure_Devices_SB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\NC_TRACKER\INPUT_DATA\Infrastructure_Devices_SB.csv" , sep = ';')

In [5]:
Infrastructure_Devices_NB.drop(columns=['Unnamed: 13'],axis=1,inplace=True)
Infrastructure_Devices_SB.drop(columns=['Unnamed: 13'],axis=1,inplace=True)

In [6]:
COMPILED_METER_2021=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv")
COMPLIED_METER_2022=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv")
COMPLIED_METER_2023=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv")
COMPLIED_METER_2024=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2024.csv")

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\567392238.py:1: DtypeWarning: Columns (7,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPILED_METER_2021=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\567392238.py:2: DtypeWarning: Columns (7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPLIED_METER_2022=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\567392238.py:3: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPLIED_METER_2023=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv")

In [7]:
# PRIVILAGE DATA


Orgwise_Privilege_group_status_SB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Orgwise_Privilege_group_status_SB.csv")
Orgwise_Privilege_group_status_NB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Orgwise_Privilege_group_status_NB.csv")


# concat data  concat_Orgwise_Privilege_group_status_NB_SB
concat_Orgwise_Privilege_group_status_NB_SB = pd.concat([Orgwise_Privilege_group_status_SB,Orgwise_Privilege_group_status_NB],ignore_index=True)

# dop duplicate in  concat_Orgwise_Privilege_group_status_NB_SB
concat_Orgwise_Privilege_group_status_NB_SB.drop_duplicates(subset=['METERNO'], keep='first', inplace=True, ignore_index=True)

concat_Orgwise_Privilege_group_status_NB_SB.shape

(1528269, 14)

In [8]:
# upper letter
concat_Orgwise_Privilege_group_status_NB_SB.columns = concat_Orgwise_Privilege_group_status_NB_SB.columns.str.upper()


# Remove leading and trailing whitespaces from all columns where dtype is 'O'
concat_Orgwise_Privilege_group_status_NB_SB = concat_Orgwise_Privilege_group_status_NB_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)

In [9]:
# compiled data
ALL_DATA_COMPILATION_MERGE_2023 = pd.concat([COMPILED_METER_2021, COMPLIED_METER_2022,COMPLIED_METER_2023], ignore_index=True)

# DATA COMPILATION MERGE

ALL_DATA_COMPILATION_MERGE = pd.concat([ALL_DATA_COMPILATION_MERGE_2023,COMPLIED_METER_2024], ignore_index=True)


# changes in dataset like :- UPPER, SPACE REMOVAL , DATATYPE

ALL_DATA_COMPILATION_MERGE = ALL_DATA_COMPILATION_MERGE.astype(str)
ALL_DATA_COMPILATION_MERGE.columns = ALL_DATA_COMPILATION_MERGE.columns.str.upper()
ALL_DATA_COMPILATION_MERGE = ALL_DATA_COMPILATION_MERGE.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ALL_DATA_COMPILATION_MERGE.columns = ALL_DATA_COMPILATION_MERGE.columns.str.strip()


# CONVERT INTO DATETIME, SORT VALUES AND DROP DUPLICATES
ALL_DATA_COMPILATION_MERGE['REPLACEMENT DATE'] = pd.to_datetime(ALL_DATA_COMPILATION_MERGE['REPLACEMENT DATE'])
ALL_DATA_COMPILATION_MERGE.sort_values(by=['REPLACEMENT DATE'],ascending=False,inplace= True)

# drop duplicate keep first , other drop

ALL_DATA_COMPILATION_MERGE.drop_duplicates(subset=['NEW METER NO'], keep='first', inplace=True, ignore_index=True)

In [10]:
ALL_DATA_COMPILATION_MERGE[ALL_DATA_COMPILATION_MERGE.duplicated(subset=['NEW METER NO'],keep=False)].sort_values(by=['NEW METER NO','REPLACEMENT DATE'],ascending=[True,False]).head(10)

Empty DataFrame
Columns: [SL, SECTION ID, CLUSTER, CATEGORY, WO STATUS, WORK ORDER TYPE, NEW METER NO, CONSUMER ID, INSTALLATION_NUMBER, NAME, ADDRESS, MOBILE NUMBER, UTILITY NAME, REPLACEMENT DATE, MRU, LAT, LONG, CATEGORY NAME, PHASE, TOWN, VENDOR NAME, SECTION, DIVISION, STATUS, VENDOR_MANAGER, VENDOR_PLANNER, DUPLICATE, SECTION_ID]
Index: []

In [11]:

# Custom function to update meter numbers
def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
ALL_DATA_COMPILATION_MERGE['FULL_METER_NUMBER'] = ALL_DATA_COMPILATION_MERGE['NEW METER NO'].apply(update_meter_number)

In [12]:
COMPILE_DATA_NB_SB = pd.concat([Infrastructure_Devices_NB, Infrastructure_Devices_SB], ignore_index=True)

In [13]:
COMPILE_DATA_NB_SB.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip
0,1/9/2024 1:13:57 PM,1/24/2023 6:19:05 PM,NBPDCL,5002505017,LNTLT8053415,LT8053415,2/4/2024 12:00:00 AM,NaN,2/1/2024 12:00:00 AM,86.78975,25.92445,Installed&&Imported,2405:0203:0531:8802:0000:0000:0000:0010

In [14]:

# Custom function to update meter numbers
def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
COMPILE_DATA_NB_SB['FULL_METER_NUMBER_INFRA'] = COMPILE_DATA_NB_SB['SerialNumber'].apply(update_meter_number)

# code

In [15]:
COMPILE_DATA_NB_SB.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA
0,1/9/2024 1:13:57 PM,1/24/2023 6:19:05 PM,NBPDCL,5002505017,LNTLT8053415,LT8053415,2/4/2024 12:00:00 AM,NaN,2/1/2024 12:00:00 AM,86.78975,25.92445,Installed&&Imported,2405:0203:0531:8802:0000:0000:0000:0010,LNTLT8053415

In [16]:
COMPILE_DATA_NB_SB['InstallationDatetime'] = pd.to_datetime(COMPILE_DATA_NB_SB['InstallationDatetime'])
COMPILE_DATA_NB_SB['EntryDatetime'] = pd.to_datetime(COMPILE_DATA_NB_SB['EntryDatetime'])
COMPILE_DATA_NB_SB['LastS05'] = pd.to_datetime(COMPILE_DATA_NB_SB['LastS05'])
COMPILE_DATA_NB_SB['LastS02'] = pd.to_datetime(COMPILE_DATA_NB_SB['LastS02'])
COMPILE_DATA_NB_SB['LastS04'] = pd.to_datetime(COMPILE_DATA_NB_SB['LastS04'])

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\3164480658.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_DATA_NB_SB['InstallationDatetime'] = pd.to_datetime(COMPILE_DATA_NB_SB['InstallationDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\3164480658.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_DATA_NB_SB['EntryDatetime'] = pd.to_datetime(COMPILE_DATA_NB_SB['EntryDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\3164480658.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_DATA_NB_SB['LastS05'] = pd.to_datetime(COMPILE_DATA_NB_SB['LastS05'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\3164480658.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_DATA_NB_SB['LastS02'] = pd.to_datetime(COMPILE_DATA_NB_SB['LastS02'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\3164480658.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_DATA_NB_SB['LastS04'] = pd.to_datetime(COMPILE_DATA_NB_SB['LastS04'])

In [17]:
COMPILE_DATA_NB_SB_NULL_DATA=COMPILE_DATA_NB_SB[COMPILE_DATA_NB_SB['LastS05'].isnull()]
COMPILE_DATA_NB_SB_NOT_NULL_DATA=COMPILE_DATA_NB_SB[~COMPILE_DATA_NB_SB['LastS05'].isnull()]

In [18]:
COMPILE_DATA_NB_SB_NOT_NULL_DATA.shape

(1524264, 14)

In [19]:
# days defined

In [20]:
# Calculate the date 7 days ago
seven_days_ago = datetime.now() - timedelta(days=7)


# Filter the DataFrame to keep only rows before the last 7 days
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY = COMPILE_DATA_NB_SB_NOT_NULL_DATA[COMPILE_DATA_NB_SB_NOT_NULL_DATA['LastS05'] < seven_days_ago]

# Display the filtered DataFrame
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.head()

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA
81,2024-01-03 22:46:02,2023-01-24 18:12:40,NBPDCL,5002360361,LNTLT8052558,LT8052558,2024-01-13,NaT,2024-01-01,85.52303,26.56508,Imported&&Installed,2405:0203:0531:84A9:0000:0000:0000:0010,LNTLT8052558
283,2023-12-15 19:02:30,2023-01-24 18:09:23,NBPDCL,5003686609,LNTLT8051635,LT8051635,2024-01-27,NaT,2024-01-01,87.94367,26.08711,Imported&&Installed,2405:0203:0531:810E:0000:0000:0000:0010,LNTLT8051635
382,2023-10-15 21:13:23,2023-01-11 18:08:55,NBPDCL,5000056947,LNTLT8051401,LT8051401,2024-01-25,NaT,2024-01-01,87.48042,25.78156,Imported&&Installed,2405:0203:0531:6995:0000:0000:0000:0010,LNTLT8051401
481,2023-08-31 20:16:18,2023-01-11 18:07:57,NBPDCL,5000049325,LNTLT8051204,LT8051204,2023-12-02,2023-10-02,2023-10-01,87.47479,25.77657,Imported&&Installed,2405:0203:0531:68D0:0000:0000:0000:0010,LNTLT8051204
489,2023-11-28 18:13:43,2023-01-11 18:07:27,NBPDCL,5000060788,LNTLT8051185,LT8051185,2024-01-15,NaT,2024-01-01,87.46214,25.77425,Imported&&Installed,2405:0203:0531:68BD:0000:0000:0000:0010,LNTLT8051185

In [21]:
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.shape

(98194, 14)

In [22]:
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['day']=COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['LastS05'].dt.day 
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['month']=COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['LastS05'].dt.month
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['year']=COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['LastS05'].dt.year

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\203340176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['day']=COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['LastS05'].dt.day
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\203340176.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['month']=COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['LastS05'].dt.month
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\203340176.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['year']=COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['LastS05'].dt.year

In [23]:
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['day'].unique()

array([13, 27, 25,  2, 15, 18,  1, 10, 29,  4,  8,  5, 23, 28, 12, 30, 14,
       19, 24,  6,  3, 22, 21, 11,  9, 16, 26,  7, 20, 17, 31])

In [24]:
# CODE TO CHECK LAST 7 DAY DATA PRESENT IN DATAFRAME OR NOT

#COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY[(COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['day']==22) & (COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['month']==1) & (COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['year']==2024) ]

In [25]:
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.columns

Index(['InstallationDatetime', 'EntryDatetime', 'Utility', 'UtilitySiteId',
       'UtilityDeviceId', 'SerialNumber', 'LastS05', 'LastS02', 'LastS04',
       'CoordinateX', 'CoordinateY', 'StateName', 'Ip',
       'FULL_METER_NUMBER_INFRA', 'day', 'month', 'year'],
      dtype='object')

In [26]:
#  INSTALLATION DATE AND LastS05  

COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['SUB_LASTSO5_INSTALLATION'] = COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['LastS05'] - COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['InstallationDatetime']

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\178613027.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['SUB_LASTSO5_INSTALLATION'] = COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['LastS05'] - COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['InstallationDatetime']

In [27]:
import pandas as pd

# Assuming CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE is your DataFrame
# and 'DIFF_CLOSE_RECHARGE' is the timedelta column

# Filter rows with positive diff
POSITIVE_DIFF_COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY = COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY[
    COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['SUB_LASTSO5_INSTALLATION'] >= pd.Timedelta(0)]

# Filter rows with negative diff
NEGATIVE_DIFF_COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY = COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY[
    COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['SUB_LASTSO5_INSTALLATION'] < pd.Timedelta(0)]


NULL_DATA_COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY=COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY[
    COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY['SUB_LASTSO5_INSTALLATION'].isnull()]

In [28]:
POSITIVE_DIFF_COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.shape

(94129, 18)

### compilation data

In [29]:
ALL_DATA_COMPILATION_MERGE.head(1)

,SL,SECTION ID,CLUSTER,CATEGORY,WO STATUS,WORK ORDER TYPE,NEW METER NO,CONSUMER ID,INSTALLATION_NUMBER,NAME,ADDRESS,MOBILE NUMBER,UTILITY NAME,REPLACEMENT DATE,MRU,LAT,LONG,CATEGORY NAME,PHASE,TOWN,VENDOR NAME,SECTION,DIVISION,STATUS,VENDOR_MANAGER,VENDOR_PLANNER,DUPLICATE,SECTION_ID,FULL_METER_NUMBER
0,23049,nan,NBPDCL-East,End To End,FW NMI Complete,New Meter Installation,GL9070666,nan,522212541032,SARVAN DAS,"WARD 3, SALEMPUR TITU",6200599605,NBPD,2024-02-07,nan,25.4659093,85.9815537,DS2D,1.0,Begusarai,hirent,TEGHRA,BARAUNI,Open,hirent_vm_teghra,hirent_tegh_vp1,1.0,11621,GOEGL9070666

In [30]:
ALL_DATA_COMPILATION_MERGE.columns

Index(['SL', 'SECTION ID', 'CLUSTER', 'CATEGORY', 'WO STATUS',
       'WORK ORDER TYPE', 'NEW METER NO', 'CONSUMER ID', 'INSTALLATION_NUMBER',
       'NAME', 'ADDRESS', 'MOBILE NUMBER', 'UTILITY NAME', 'REPLACEMENT DATE',
       'MRU', 'LAT', 'LONG', 'CATEGORY NAME', 'PHASE', 'TOWN', 'VENDOR NAME',
       'SECTION', 'DIVISION', 'STATUS', 'VENDOR_MANAGER', 'VENDOR_PLANNER',
       'DUPLICATE', 'SECTION_ID', 'FULL_METER_NUMBER'],
      dtype='object')

In [31]:
POSITIVE_DIFF_COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,day,month,year,SUB_LASTSO5_INSTALLATION
81,2024-01-03 22:46:02,2023-01-24 18:12:40,NBPDCL,5002360361,LNTLT8052558,LT8052558,2024-01-13,NaT,2024-01-01,85.52303,26.56508,Imported&&Installed,2405:0203:0531:84A9:0000:0000:0000:0010,LNTLT8052558,13,1,2024,9 days 01:13:58

In [32]:
"""
MERGE_POS_DATA_AND_COMPILATION_DATA = pd.merge(POSITIVE_DIFF_COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY,ALL_DATA_COMPILATION_MERGE[['NEW METER NO', 'CONSUMER ID', 'INSTALLATION_NUMBER',
       'NAME', 'ADDRESS', 'MOBILE NUMBER', 'UTILITY NAME', 'REPLACEMENT DATE',
       'MRU', 'LAT', 'LONG', 'CATEGORY NAME', 'PHASE', 'TOWN', 'VENDOR NAME',
       'SECTION', 'DIVISION', 'STATUS']], left_on=['SerialNumber'], right_on=['NEW METER NO'], how='left')
"""

MERGE_POS_DATA_AND_COMPILATION_DATA = pd.merge(POSITIVE_DIFF_COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY,ALL_DATA_COMPILATION_MERGE[['NEW METER NO','STATUS','CATEGORY NAME']], left_on=['SerialNumber'], right_on=['NEW METER NO'], how='left')

In [33]:
MERGE_POS_DATA_AND_COMPILATION_DATA.shape

(94129, 21)

In [34]:
MERGE_POS_DATA_AND_COMPILATION_DATA.head(2)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,day,month,year,SUB_LASTSO5_INSTALLATION,NEW METER NO,STATUS,CATEGORY NAME
0,2024-01-03 22:46:02,2023-01-24 18:12:40,NBPDCL,5002360361,LNTLT8052558,LT8052558,2024-01-13,NaT,2024-01-01,85.52303,26.56508,Imported&&Installed,2405:0203:0531:84A9:0000:0000:0000:0010,LNTLT8052558,13,1,2024,9 days 01:13:58,LT8052558,Open,NDS-IID(B)
1,2023-12-15 19:02:30,2023-01-24 18:09:23,NBPDCL,5003686609,LNTLT8051635,LT8051635,2024-01-27,NaT,2024-01-01,87.94367,26.08711,Imported&&Installed,2405:0203:0531:810E:0000:0000:0000:0010,LNTLT8051635,27,1,2024,42 days 04:57:30,LT8051635,Closed,nan

In [35]:
if MERGE_POS_DATA_AND_COMPILATION_DATA.shape[0] ==  POSITIVE_DIFF_COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.shape[0]:
    print(" DATA SAHAPE IS CORRECT NO DUPLICATE VALUE")
else:
    sys.exit("Data shapes are not equal. Exiting the script.")

 DATA SAHAPE IS CORRECT NO DUPLICATE VALUE

In [36]:
MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN = MERGE_POS_DATA_AND_COMPILATION_DATA[(MERGE_POS_DATA_AND_COMPILATION_DATA['CATEGORY NAME']=='nan') ]
MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NOT_NAN = MERGE_POS_DATA_AND_COMPILATION_DATA[~(MERGE_POS_DATA_AND_COMPILATION_DATA['CATEGORY NAME']=='nan') ]

In [37]:
MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,day,month,year,SUB_LASTSO5_INSTALLATION,NEW METER NO,STATUS,CATEGORY NAME
1,2023-12-15 19:02:30,2023-01-24 18:09:23,NBPDCL,5003686609,LNTLT8051635,LT8051635,2024-01-27,NaT,2024-01-01,87.94367,26.08711,Imported&&Installed,2405:0203:0531:810E:0000:0000:0000:0010,LNTLT8051635,27,1,2024,42 days 04:57:30,LT8051635,Closed,nan

In [38]:
MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN.shape

(6455, 21)

In [39]:
concat_Orgwise_Privilege_group_status_NB_SB.head(1)

,UTILITY,INSTALLATIONNUMBER,CONSUMERNO,METERNO,INSTALLATIONDATE,CONSUMERTYPE,PRIVILEGEGROUP,CURRENTBALANCE,CONNECTEDSTATUS,NETMETERING,LASTRECHARGEDATE,LASTRECHARGEAMOUNT,DIVISION,CATEGORY
0,SBPDCL,ARL19065,23230051120,GOEGP4878170,9/12/2019 12:00:00 AM,Prepaid,N,453.84,Y,N,2/6/2024 8:12:57 PM,500.0,ARWAL,DS2D

In [40]:
MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NOT_NAN.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,day,month,year,SUB_LASTSO5_INSTALLATION,NEW METER NO,STATUS,CATEGORY NAME
0,2024-01-03 22:46:02,2023-01-24 18:12:40,NBPDCL,5002360361,LNTLT8052558,LT8052558,2024-01-13,NaT,2024-01-01,85.52303,26.56508,Imported&&Installed,2405:0203:0531:84A9:0000:0000:0000:0010,LNTLT8052558,13,1,2024,9 days 01:13:58,LT8052558,Open,NDS-IID(B)

In [41]:
# MERGE WITH PRIVILAGE DATA

# MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN   - AND  -   concat_Orgwise_Privilege_group_status_NB_SB  


MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN.drop(['CATEGORY NAME'], axis=1, inplace=True)

MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN_CONCAT_ORGWISE_PRIVILEGE = pd.merge(MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN,concat_Orgwise_Privilege_group_status_NB_SB[['CATEGORY','METERNO']], left_on=['FULL_METER_NUMBER_INFRA'], right_on=['METERNO'], how='left')


# rename

MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN_CONCAT_ORGWISE_PRIVILEGE.rename(
    columns = {"CATEGORY":"CATEGORY NAME"},
    inplace=True
)



# dropping meterno from the dataframe

MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN_CONCAT_ORGWISE_PRIVILEGE.drop(['METERNO'], axis=1, inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\3239429604.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN.drop(['CATEGORY NAME'], axis=1, inplace=True)

In [42]:
MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN_CONCAT_ORGWISE_PRIVILEGE.shape

(6455, 21)

In [43]:
MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NOT_NAN.columns

Index(['InstallationDatetime', 'EntryDatetime', 'Utility', 'UtilitySiteId',
       'UtilityDeviceId', 'SerialNumber', 'LastS05', 'LastS02', 'LastS04',
       'CoordinateX', 'CoordinateY', 'StateName', 'Ip',
       'FULL_METER_NUMBER_INFRA', 'day', 'month', 'year',
       'SUB_LASTSO5_INSTALLATION', 'NEW METER NO', 'STATUS', 'CATEGORY NAME'],
      dtype='object')

In [44]:
MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN_CONCAT_ORGWISE_PRIVILEGE.head(2)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,day,month,year,SUB_LASTSO5_INSTALLATION,NEW METER NO,STATUS,CATEGORY NAME
0,2023-12-15 19:02:30,2023-01-24 18:09:23,NBPDCL,5003686609,LNTLT8051635,LT8051635,2024-01-27,NaT,2024-01-01,87.94367,26.08711,Imported&&Installed,2405:0203:0531:810E:0000:0000:0000:0010,LNTLT8051635,27,1,2024,42 days 04:57:30,LT8051635,Closed,NDS-IID(B)
1,2023-12-27 18:35:44,2023-01-11 18:05:53,NBPDCL,5000613058,LNTLT8051000,LT8051000,2024-01-01,NaT,2024-01-01,84.46917,27.11346,Imported&&Installed,2405:0203:0531:6804:0000:0000:0000:0010,LNTLT8051000,1,1,2024,4 days 05:24:16,LT8051000,Closed,DS-IID

In [45]:
# CONCATE THE DATA

CONCAT_CAT_NAN_AND_NOT_NAN = pd.concat([MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NOT_NAN,MERGE_POS_DATA_AND_COMPILATION_DATA_CAT_NAN_CONCAT_ORGWISE_PRIVILEGE],ignore_index= True)
#concat_Orgwise_Privilege_group_status_NB_SB = pd.concat([Orgwise_Privilege_group_status_SB,Orgwise_Privilege_group_status_NB],ignore_index=True)

In [46]:
CONCAT_CAT_NAN_AND_NOT_NAN.shape

(94129, 21)

In [47]:
# CATEGORY WITH  HGN AND IAS1

CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITH_HGN_IAS1=CONCAT_CAT_NAN_AND_NOT_NAN[(CONCAT_CAT_NAN_AND_NOT_NAN['CATEGORY NAME']=='IAS1') |  (CONCAT_CAT_NAN_AND_NOT_NAN['CATEGORY NAME']=='HGN')]

# CATEGORY WITHOUT  HGN AND IAS1
CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1=CONCAT_CAT_NAN_AND_NOT_NAN[~((CONCAT_CAT_NAN_AND_NOT_NAN['CATEGORY NAME']=='IAS1') |  (CONCAT_CAT_NAN_AND_NOT_NAN['CATEGORY NAME']=='HGN'))]

In [48]:
CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1.shape

(69320, 21)

In [49]:
CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\NC_TRACKER\OUTPUT FILE DATA\CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1.csv",index=False)

In [50]:
CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1[CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1['SerialNumber']=='GP4966307']

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,day,month,year,SUB_LASTSO5_INSTALLATION,NEW METER NO,STATUS,CATEGORY NAME
78031,2019-09-18 22:40:23,2019-09-07 20:11:47,SBPDCL,ARWARL14271,GOEGP4966307,GP4966307,2024-01-27,2023-05-08,2024-01-01,84.68417,25.22774,Imported&&Installed,2001:4490:0800:B137:0000:0000:0000:0001,GOEGP4966307,27,1,2024,1591 days 01:19:37,NaN,NaN,NaN

### KEEP  ONLY CLOSE STATUS

In [51]:
# ONLY CLOSED DATA

CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED=CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1[CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1['STATUS']=='Closed']

In [52]:
CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED.shape

(69224, 21)

In [53]:
CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED.drop(['NEW METER NO'], axis=1, inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_23176\3923284556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED.drop(['NEW METER NO'], axis=1, inplace=True)

In [54]:

MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA = pd.merge(CONCAT_CAT_NAN_AND_NOT_NAN_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED,ALL_DATA_COMPILATION_MERGE[['NEW METER NO', 'CONSUMER ID', 'INSTALLATION_NUMBER',
       'NAME', 'ADDRESS', 'MOBILE NUMBER', 'UTILITY NAME', 'REPLACEMENT DATE',
       'MRU', 'LAT', 'LONG', 'PHASE', 'TOWN', 'VENDOR NAME',
       'SECTION', 'DIVISION']], left_on=['SerialNumber'], right_on=['NEW METER NO'], how='left')

In [55]:
# CREATE A NEW COLUMN IN WHICH THERE ARE AGEING

In [56]:
from datetime import datetime, timedelta
MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['TODAY_DATE']= datetime.now()


#  CONVERT INTO DATE TIME

MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['TODAY_DATE'] = pd.to_datetime(MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['TODAY_DATE'])



# AGEING ==  TODAY - LASTSO5

MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['AGEING'] = MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['TODAY_DATE'] - MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['LastS05']

In [57]:
# days from date data

MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['AGEING_DAYS']=MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['AGEING'].dt.days

In [58]:
# ageing data
def SLA_COLUMN_AGEING(row):
    if row['AGEING_DAYS'] >= 7  and row['AGEING_DAYS'] <= 15:
        return '7-15 days'
    elif row['AGEING_DAYS'] >= 16  and row['AGEING_DAYS'] <= 30:
        return '16-30 days'
    elif row['AGEING_DAYS'] >= 31  and row['AGEING_DAYS'] <= 60:
        return '31-60 days'
    elif row['AGEING_DAYS'] >= 61  and row['AGEING_DAYS'] <= 120:
        return '61-120 days'
    elif row['AGEING_DAYS'] >= 121  and row['AGEING_DAYS'] <= 180:
        return '121-180 days'
    else: 
        return '> 180 days'
    
MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['SLA_AGEING'] = MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA.apply(SLA_COLUMN_AGEING, axis=1)

In [59]:
# DATAFRAME WITH OTHER AND NOT PATNA


MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_OTHERS_AND_NOT_PATNA=MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA[(MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['VENDOR NAME']=='Others') & (MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['TOWN'] != 'Patna')]


# DROP ROWS FROM DATAFRAME  WHERE VENDOR  = OTHERS AND TOWN NOT = PATNA

MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_REMOVE_OTHERS_AND_NOT_PATNA=MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA.drop(MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA[(MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['VENDOR NAME']=='Others') & (MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA['TOWN'] != 'Patna')].index)

In [60]:
if (MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_OTHERS_AND_NOT_PATNA.shape[0] + MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_REMOVE_OTHERS_AND_NOT_PATNA.shape[0]) == MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA.shape[0]:
    print(" DATAFRAME IS WITH EQUAL SHAPE")
else:
    sys.exit("Data shapes are not equal. Exiting the script.")

 DATAFRAME IS WITH EQUAL SHAPE

In [61]:
print(f"SHAPE OF MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_OTHERS_AND_NOT_PATNA IS  : {MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_OTHERS_AND_NOT_PATNA.shape}")
print(f"SHAPE OF MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA IS  : {MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA.shape}")
print(f"SHAPE OF MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_REMOVE_OTHERS_AND_NOT_PATNA IS  : {MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_REMOVE_OTHERS_AND_NOT_PATNA.shape}")

SHAPE OF MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_OTHERS_AND_NOT_PATNA IS  : (1409, 40)
SHAPE OF MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA IS  : (69224, 40)
SHAPE OF MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_REMOVE_OTHERS_AND_NOT_PATNA IS  : (67815, 40)

In [62]:
# DATA SET SAVE TO OUTPUT FOLDER PATH

MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_REMOVE_OTHERS_AND_NOT_PATNA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\NC_TRACKER\OUTPUT FILE DATA\MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_REMOVE_OTHERS_AND_NOT_PATNA.csv",index=False)

# FINAL  DATA SET SAVE TO OUTPUT FOLDER PATH

FINAL_DATASET =  MERGE_CAT_WITHOUT_HGN_IAS1_ONLY_CLOSED_AND_COMPILATION_DATA_REMOVE_OTHERS_AND_NOT_PATNA
FINAL_DATASET.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\NC_TRACKER\OUTPUT FILE DATA\FINAL_DATASET.csv",index=False)

# FINAL_DATASET

In [63]:
FINAL_DATASET.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,day,month,year,SUB_LASTSO5_INSTALLATION,STATUS,CATEGORY NAME,NEW METER NO,CONSUMER ID,INSTALLATION_NUMBER,NAME,ADDRESS,MOBILE NUMBER,UTILITY NAME,REPLACEMENT DATE,MRU,LAT,LONG,PHASE,TOWN,VENDOR NAME,SECTION,DIVISION,TODAY_DATE,AGEING,AGEING_DAYS,SLA_AGEING
0,2023-10-15 21:13:23,2023-01-11 18:08:55,NBPDCL,5000056947,LNTLT8051401,LT8051401,2024-01-25,NaT,2024-01-01,87.48042,25.78156,Imported&&Installed,2405:0203:0531:6995:0000:0000:0000:0010,LNTLT8051401,25,1,2024,101 days 02:46:37,Closed,LTIS-ID,LT8051401,400025978.0,5000056947,M/S KISHAN ENTERPRISES,"S/O T.PRASAD, NEAR AZAD T PURNIA_U PURNIA ...",9546200212,NBPD,2023-10-14,GBECL3PH,25.7815624,87.4804234,3,Purnea,edf,PURNEA(TOWN I),PURNEA(W),2024-02-08 15:48:23.087199,14 days 15:48:23.087199,14,7-15 days

In [64]:
NC_TRACKER_28_JAN_24.head(1)

,S.No,DeviceId,Email Time,Ticket Date,Vendor Resolution Plan Date,Vendor Resolved Date,New/OLD Cases,Jan- Plan,InstallationDatetime,Last DP Date,Last BP Date,Ip,Ping Status,Consumer ID,Installation No,Name,Address,Mobile Number,Utility Name,MRU,Lat,Long,Category Name,Phase,Town,Vendor Name,Section,Division,Cluster,Ageing,Tenure,Priority,Previous Field Remarks,Bucket,Responsibility,IT Issue,EESL Remarks 1,EESL Remarks,EESL Bucket
0,1,LT8072490,6:00 P.M,2023-11-05,NaN,NaN,Old Case,Old Case,2023-10-10 18:53:52,2023-10-27,NaN,2405:0203:0535:216B:0000:0000:0000:0010,NaN,108709143,5004055256,MUKESH KUMAR,"KHATA NO 162, WARD NO",9546520585,SBPD,0,25.553647,84.662457,NDS-IID(B),3,Ara,Astute,SEC-HEADQUARTER,ARRAH,Rakesh Kumar,93,61-120 Days,P1,Error 3,VENDOR,Rakesh Kumar,NaN,TSP Issues,TSP Issues,EDF

In [65]:
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA = pd.merge(FINAL_DATASET,NC_TRACKER_28_JAN_24[['Ticket Date','DeviceId']], left_on=['SerialNumber'], right_on=['DeviceId'], how='left')
#MERGE_POS_DATA_AND_COMPILATION_DATA = pd.merge(POSITIVE_DIFF_COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY,ALL_DATA_COMPILATION_MERGE[['NEW METER NO','STATUS','CATEGORY NAME']], left_on=['SerialNumber'], right_on=['NEW METER NO'], how='left')

In [66]:
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA[MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['Ticket Date'].isnull()].shape

(5436, 42)

In [67]:
current_time = datetime.now()
formatted_time = current_time.strftime('%Y-%m-%d')

print('Current Time:', formatted_time)

Current Time: 2024-02-08

In [68]:
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['Ticket Date'] = MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['Ticket Date'].fillna(formatted_time)

In [69]:
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\NC_TRACKER\OUTPUT FILE DATA\MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA.csv",index=False)

In [70]:
#MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['Ticket Date'] = MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['Ticket Date'].fillna(pd.to_datetime(datetime.now().strftime('%Y-%m-%d')))

MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA[MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['Ticket Date'].isnull()].shape

(0, 42)

In [71]:
# drop deviceid column

MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA.drop(['DeviceId'], axis=1, inplace=True)


# create a new column with email time 
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['Email Time'] = '6:00 P.M'

# CRAETE A NEW COLUMN WITH CURRENT DATE
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['CURRENT DATE'] = formatted_time

In [72]:
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA[MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['Ticket Date']=='2024-01-31'].shape

(0, 43)

In [73]:
# OLD AND NEW CASES

def old_new_data(row):
    if row['Ticket Date'] == row['CURRENT DATE']:
        return 'New Case'
    else:
        return 'Old Case'

MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['New/OLD Cases'] = MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA.apply(old_new_data,axis=1)

In [74]:
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,day,month,year,SUB_LASTSO5_INSTALLATION,STATUS,CATEGORY NAME,NEW METER NO,CONSUMER ID,INSTALLATION_NUMBER,NAME,ADDRESS,MOBILE NUMBER,UTILITY NAME,REPLACEMENT DATE,MRU,LAT,LONG,PHASE,TOWN,VENDOR NAME,SECTION,DIVISION,TODAY_DATE,AGEING,AGEING_DAYS,SLA_AGEING,Ticket Date,Email Time,CURRENT DATE,New/OLD Cases
0,2023-10-15 21:13:23,2023-01-11 18:08:55,NBPDCL,5000056947,LNTLT8051401,LT8051401,2024-01-25,NaT,2024-01-01,87.48042,25.78156,Imported&&Installed,2405:0203:0531:6995:0000:0000:0000:0010,LNTLT8051401,25,1,2024,101 days 02:46:37,Closed,LTIS-ID,LT8051401,400025978.0,5000056947,M/S KISHAN ENTERPRISES,"S/O T.PRASAD, NEAR AZAD T PURNIA_U PURNIA ...",9546200212,NBPD,2023-10-14,GBECL3PH,25.7815624,87.4804234,3,Purnea,edf,PURNEA(TOWN I),PURNEA(W),2024-02-08 15:48:23.087199,14 days 15:48:23.087199,14,7-15 days,2024-02-08,6:00 P.M,2024-02-08,New Case

In [75]:
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['ADDRESS'] = MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['ADDRESS'].str.replace(',', ';')
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['NAME'] = MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA['NAME'].str.replace(',', ';')

In [76]:
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\NC_TRACKER\OUTPUT FILE DATA\MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA.csv",index=False)

NC_TRACKER_FINAL_DATA =  MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA

In [77]:
MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\OUTPUT_NC_TRACKER\MERGE_NC_TRACKER_MERGE_NEW_OLD_DATA.csv",index=False)

In [78]:
NC_TRACKER_FINAL_DATA.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,day,month,year,SUB_LASTSO5_INSTALLATION,STATUS,CATEGORY NAME,NEW METER NO,CONSUMER ID,INSTALLATION_NUMBER,NAME,ADDRESS,MOBILE NUMBER,UTILITY NAME,REPLACEMENT DATE,MRU,LAT,LONG,PHASE,TOWN,VENDOR NAME,SECTION,DIVISION,TODAY_DATE,AGEING,AGEING_DAYS,SLA_AGEING,Ticket Date,Email Time,CURRENT DATE,New/OLD Cases
0,2023-10-15 21:13:23,2023-01-11 18:08:55,NBPDCL,5000056947,LNTLT8051401,LT8051401,2024-01-25,NaT,2024-01-01,87.48042,25.78156,Imported&&Installed,2405:0203:0531:6995:0000:0000:0000:0010,LNTLT8051401,25,1,2024,101 days 02:46:37,Closed,LTIS-ID,LT8051401,400025978.0,5000056947,M/S KISHAN ENTERPRISES,S/O T.PRASAD; NEAR AZAD T PURNIA_U PURNIA ...,9546200212,NBPD,2023-10-14,GBECL3PH,25.7815624,87.4804234,3,Purnea,edf,PURNEA(TOWN I),PURNEA(W),2024-02-08 15:48:23.087199,14 days 15:48:23.087199,14,7-15 days,2024-02-08,6:00 P.M,2024-02-08,New Case

In [79]:
NC_TRACKER_FINAL_DATA['ADDRESS'] = NC_TRACKER_FINAL_DATA['ADDRESS'].str.replace(',', ';')
NC_TRACKER_FINAL_DATA['NAME'] = NC_TRACKER_FINAL_DATA['NAME'].str.replace(',', ';')

In [80]:
NC_TRACKER_FINAL_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\NC_TRACKER\OUTPUT FILE DATA\NC_TRACKER_FINAL_DATA.csv",index=False)