In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)

In [83]:
import os
import glob

base_file_path = r'C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE'
fixed_file_name_rc_dc = 'Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests'
fixed_file_name_recharge = 'RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY'

# List all files in the base path
files_in_base_path = glob.glob(os.path.join(base_file_path, '*'))

# Find and rename files with the changing name for Modified_DISCONNECTION_RECONNECTION_REPORT
matching_files_rc_dc = [file for file in files_in_base_path if fixed_file_name_rc_dc.lower() in file.lower()]

for changing_name_file in matching_files_rc_dc:
    new_file_path = os.path.join(base_file_path, f"{fixed_file_name_rc_dc}.csv")
    os.rename(changing_name_file, new_file_path)
    print(f"File renamed to {fixed_file_name_rc_dc}")
    print(f"File path  {new_file_path}")

# Find and rename files with the changing name for RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY
matching_files_recharge = [file for file in files_in_base_path if fixed_file_name_recharge.lower() in file.lower()]

for changing_name_file in matching_files_recharge:
    new_file_path = os.path.join(base_file_path, f"{fixed_file_name_recharge}.csv")
    os.rename(changing_name_file, new_file_path)
    print(f"File renamed to {fixed_file_name_recharge}")
    print(f"File path  {new_file_path}")

if not matching_files_rc_dc and not matching_files_recharge:
    print("No files with changing names found in the base path.")

File renamed to Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests
File path  C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests.csv
File renamed to RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY
File path  C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.csv

In [2]:
# RC_DC_REPORT , PRIVILEGE_GROUP_STATUS ,  RECHARGE DETAILS

Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests.csv")
Orgwise_Privilege_group_status_SB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Orgwise_Privilege_group_status_SB.csv")
Orgwise_Privilege_group_status_NB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Orgwise_Privilege_group_status_NB.csv")
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.csv")

In [3]:
# METER COMPILATION DATA


COMPILED_METER_2021=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\COMPILED_METER_INSTALLATION_ALL\compiled_Data_2021.xlsx")

COMPLIED_METER_2022=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\COMPILED_METER_INSTALLATION_ALL\compiled_Data_2022.xlsx")
COMPLIED_METER_2023=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\COMPILED_METER_INSTALLATION_ALL\compiled_Data_2023.xlsx")
COMPLIED_METER_2024=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\COMPILED_METER_INSTALLATION_ALL\complied_Data_2024.xlsx")

In [4]:
#convert to csv

COMPILED_METER_2021.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv",index=False)
COMPLIED_METER_2022.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv",index=False)
COMPLIED_METER_2023.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv",index=False)
COMPLIED_METER_2024.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2024.csv",index=False)

In [5]:
COMPILED_METER_2021=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv")
COMPLIED_METER_2022=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv")
COMPLIED_METER_2023=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv")
COMPLIED_METER_2024=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2024.csv")

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\567392238.py:1: DtypeWarning: Columns (7,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPILED_METER_2021=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\567392238.py:2: DtypeWarning: Columns (7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPLIED_METER_2022=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\567392238.py:3: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPLIED_METER_2023=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv")

In [6]:
# compiled data
ALL_DATA_COMPILATION_MERGE_2023 = pd.concat([COMPILED_METER_2021, COMPLIED_METER_2022,COMPLIED_METER_2023], ignore_index=True)

# DATA COMPILATION MERGE

ALL_DATA_COMPILATION_MERGE = pd.concat([ALL_DATA_COMPILATION_MERGE_2023,COMPLIED_METER_2024], ignore_index=True)


# changes in dataset like :- UPPER, SPACE REMOVAL , DATATYPE

ALL_DATA_COMPILATION_MERGE = ALL_DATA_COMPILATION_MERGE.astype(str)
ALL_DATA_COMPILATION_MERGE.columns = ALL_DATA_COMPILATION_MERGE.columns.str.upper()
ALL_DATA_COMPILATION_MERGE = ALL_DATA_COMPILATION_MERGE.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ALL_DATA_COMPILATION_MERGE.columns = ALL_DATA_COMPILATION_MERGE.columns.str.strip()


# CONVERT INTO DATETIME, SORT VALUES AND DROP DUPLICATES
ALL_DATA_COMPILATION_MERGE['REPLACEMENT DATE'] = pd.to_datetime(ALL_DATA_COMPILATION_MERGE['REPLACEMENT DATE'])
ALL_DATA_COMPILATION_MERGE.sort_values(by=['REPLACEMENT DATE'],ascending=False,inplace= True)

# drop duplicate keep first , other drop

ALL_DATA_COMPILATION_MERGE.drop_duplicates(subset=['NEW METER NO'], keep='first', inplace=True, ignore_index=True)

In [7]:
ALL_DATA_COMPILATION_MERGE[ALL_DATA_COMPILATION_MERGE.duplicated(subset=['NEW METER NO'],keep=False)].sort_values(by=['NEW METER NO','REPLACEMENT DATE'],ascending=[True,False]).head(10)

Empty DataFrame
Columns: [SL, SECTION ID, CLUSTER, CATEGORY, WO STATUS, WORK ORDER TYPE, NEW METER NO, CONSUMER ID, INSTALLATION_NUMBER, NAME, ADDRESS, MOBILE NUMBER, UTILITY NAME, REPLACEMENT DATE, MRU, LAT, LONG, CATEGORY NAME, PHASE, TOWN, VENDOR NAME, SECTION, DIVISION, STATUS, VENDOR_MANAGER, VENDOR_PLANNER, DUPLICATE, SECTION_ID]
Index: []

In [8]:

# Custom function to update meter numbers
def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
ALL_DATA_COMPILATION_MERGE['FULL_METER_NUMBER'] = ALL_DATA_COMPILATION_MERGE['NEW METER NO'].apply(update_meter_number)

In [9]:
ALL_DATA_COMPILATION_MERGE.shape

(1619407, 29)

In [10]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['OPEN_TIME'] = pd.to_datetime(Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['OPEN_TIME'])
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'] = pd.to_datetime(Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'])




# fetch data where close time is not null
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time_WITH_TODAY_YESTERDAY = Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests[~Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'].isnull()]
yesterday = datetime.now() - timedelta(days=1)
yesterday_date = yesterday.date()
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time = Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time_WITH_TODAY_YESTERDAY[Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time_WITH_TODAY_YESTERDAY['CLOSE_TIME'].dt.date == yesterday_date]
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['CLOSE_TIME'].dt.day 
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day'] = (Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['CLOSE_TIME'] - pd.to_timedelta(1, unit='d')).dt.day


# convert into int type
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day'].astype('Int32')
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day'].astype('Int32')

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\3897579231.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['CLOSE_TIME'].dt.day
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\3897579231.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day'] = (Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['CLOSE_TIME'] - pd.to_timedelta(1, unit='d')).dt.day
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\3897579231.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day'].astype('Int32')
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\3897579231.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day'].astype('Int32')

In [11]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day'].unique()

<IntegerArray>
[24]
Length: 1, dtype: Int32

# merge

In [12]:
# merge data  : RC_DC  AND ALL DATA COMPILATION

LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION = pd.merge(Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time, ALL_DATA_COMPILATION_MERGE[['DIVISION','CATEGORY NAME','FULL_METER_NUMBER']], left_on=['UDC_ID_1'], right_on=['FULL_METER_NUMBER'], how='left')

In [13]:
# NULL & NOT NULL ROWS

LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS=LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION[LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION['DIVISION'].isnull()]
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NOT_NULL= LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION[~LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION['DIVISION'].isnull()]

# PRIVILAGE DATA

In [14]:

# concat data  concat_Orgwise_Privilege_group_status_NB_SB
concat_Orgwise_Privilege_group_status_NB_SB = pd.concat([Orgwise_Privilege_group_status_SB,Orgwise_Privilege_group_status_NB],ignore_index=True)

# dop duplicate in  concat_Orgwise_Privilege_group_status_NB_SB
concat_Orgwise_Privilege_group_status_NB_SB.drop_duplicates(subset=['METERNO'], keep='first', inplace=True, ignore_index=True)

concat_Orgwise_Privilege_group_status_NB_SB.shape

(1524771, 14)

In [15]:
# upper letter
concat_Orgwise_Privilege_group_status_NB_SB.columns = concat_Orgwise_Privilege_group_status_NB_SB.columns.str.upper()


# Remove leading and trailing whitespaces from all columns where dtype is 'O'
concat_Orgwise_Privilege_group_status_NB_SB = concat_Orgwise_Privilege_group_status_NB_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)

# MERGE

In [16]:
# DROP EXTRA COLUMN OF  LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS

LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS.drop(['DIVISION', 'CATEGORY NAME','FULL_METER_NUMBER'], axis=1, inplace=True)

# merge rc_Dc and privilege for division and category
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED=pd.merge(LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS, concat_Orgwise_Privilege_group_status_NB_SB[['DIVISION','CATEGORY','METERNO']], left_on=['UDC_ID_1'], right_on=['METERNO'], how='left')

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\1625814828.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS.drop(['DIVISION', 'CATEGORY NAME','FULL_METER_NUMBER'], axis=1, inplace=True)

In [17]:
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED[LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED['DIVISION'].isnull()].shape

(0, 18)

In [18]:
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED.rename(
    columns={"DIVISION": "DIVISION", "CATEGORY": "CATEGORY NAME", "METERNO": "FULL_METER_NUMBER"},
    inplace=True
)

In [19]:
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED.columns

Index(['UDC_ID', 'UDC_ID_1', 'TYPE_CD', 'SUB_TYPE_CD', 'STATUS_CD',
       'OUTCOME_CD', 'ALT_OUTCOME_REASON_CD', 'ORG_ID', 'OPEN_TIME',
       'CLOSE_TIME', 'NAME', 'BALANCE', 'LOAD_STATUS', 'day', 'previous day',
       'DIVISION', 'CATEGORY NAME', 'FULL_METER_NUMBER'],
      dtype='object')

In [20]:
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NOT_NULL.columns

Index(['UDC_ID', 'UDC_ID_1', 'TYPE_CD', 'SUB_TYPE_CD', 'STATUS_CD',
       'OUTCOME_CD', 'ALT_OUTCOME_REASON_CD', 'ORG_ID', 'OPEN_TIME',
       'CLOSE_TIME', 'NAME', 'BALANCE', 'LOAD_STATUS', 'day', 'previous day',
       'DIVISION', 'CATEGORY NAME', 'FULL_METER_NUMBER'],
      dtype='object')

In [21]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA = pd.concat([LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NOT_NULL, LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED], ignore_index=True)

In [22]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA.shape

(171752, 18)

In [23]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA['SUB_TYPE_CD'].unique()

array(['Load - Disconnect', 'Load - Hard Reconnect'], dtype=object)

#  disconnected part

In [24]:
# for disconnected part

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA[CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA['SUB_TYPE_CD']=='Load - Disconnect']
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS['SUB_TYPE_CD'].unique()

array(['Load - Disconnect'], dtype=object)

In [25]:

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.sort_values(by=['OUTCOME_CD'], ascending=False,inplace = True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\325845283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.sort_values(by=['OUTCOME_CD'], ascending=False,inplace = True)

In [26]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.head(1)

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS,day,previous day,DIVISION,CATEGORY NAME,FULL_METER_NUMBER
0,101615324,GOEGL8548500,Meter Service,Load - Disconnect,Done,Success,0,52,2024-01-24 13:04:40,2024-01-24 13:05:53,SBPDCL,-30.29,Y,24,23,BANKIPUR,NDS-IID(B),GOEGL8548500

In [27]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.drop_duplicates(keep='first', inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\4215491597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.drop_duplicates(keep='first', inplace=True)

In [64]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.head()

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS,day,previous day,DIVISION,CATEGORY NAME,FULL_METER_NUMBER
0,101615324,GOEGL8548500,Meter Service,Load - Disconnect,Done,Success,0,52,2024-01-24 13:04:40,2024-01-24 13:05:53,SBPDCL,-30.29,Y,24,23,BANKIPUR,NDS-IID(B),GOEGL8548500
122092,400703855,LNTLT0522865,Meter Service,Load - Disconnect,Done,Success,0,102,2024-01-24 11:57:41,2024-01-24 11:57:54,NBPDCL,28.19,Y,24,23,MADHUBANI,DS-IID,LNTLT0522865
122034,401990266,LNTLT0522197,Meter Service,Load - Disconnect,Done,Success,0,102,2024-01-24 10:38:42,2024-01-24 10:38:54,NBPDCL,221.54,Y,24,23,CHAPRA(WEST),DS-IID,LNTLT0522197
122036,400181803,LNTLT0522225,Meter Service,Load - Disconnect,Done,Success,0,102,2024-01-24 11:39:38,2024-01-24 11:40:01,NBPDCL,-75.98,N,24,23,CHAPRA(WEST),DS-IID,LNTLT0522225
122039,400442974,LNTLT0522354,Meter Service,Load - Disconnect,Done,Success,0,102,2024-01-24 10:38:02,2024-01-24 10:38:17,NBPDCL,46.26,Y,24,23,SITAMARHI,DS-IID,LNTLT0522354

In [ ]:
# group by

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.groupby()
#qtr_wise_status_bar_chart=ticket_df[ticket_df['year'].isin(option_year)].groupby(['year','yr_qtr','Status'])['Ticket No'].count()

# reconnection data

In [28]:
# for disconnected part

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA[CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA['SUB_TYPE_CD']=='Load - Hard Reconnect']
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['SUB_TYPE_CD'].unique()

array(['Load - Hard Reconnect'], dtype=object)

In [29]:

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.sort_values(by=['OUTCOME_CD'], ascending=False,inplace = True)
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.drop_duplicates(keep='first', inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\1006032248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.sort_values(by=['OUTCOME_CD'], ascending=False,inplace = True)
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\1006032248.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.drop_duplicates(keep='first', inplace=True)

In [30]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.head(2)

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS,day,previous day,DIVISION,CATEGORY NAME,FULL_METER_NUMBER
1,101615324,GOEGL8548500,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 13:30:12,2024-01-24 13:31:07,SBPDCL,-30.29,Y,24,23,BANKIPUR,NDS-IID(B),GOEGL8548500
97723,100709427,LNTLT0280240,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 15:15:25,2024-01-24 15:18:16,SBPDCL,14.43,Y,24,23,GARDANIBAGH,NDS-IID(B),LNTLT0280240

In [31]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['DIFF_OPEN_CLOSE'] = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['CLOSE_TIME'] - CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['OPEN_TIME']

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\3399034980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['DIFF_OPEN_CLOSE'] = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['CLOSE_TIME'] - CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['OPEN_TIME']

In [32]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.head(2)

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS,day,previous day,DIVISION,CATEGORY NAME,FULL_METER_NUMBER,DIFF_OPEN_CLOSE
1,101615324,GOEGL8548500,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 13:30:12,2024-01-24 13:31:07,SBPDCL,-30.29,Y,24,23,BANKIPUR,NDS-IID(B),GOEGL8548500,0 days 00:00:55
97723,100709427,LNTLT0280240,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 15:15:25,2024-01-24 15:18:16,SBPDCL,14.43,Y,24,23,GARDANIBAGH,NDS-IID(B),LNTLT0280240,0 days 00:02:51

# Recharge data

In [33]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.head()

,Org Name,Mobile,Meter No,TRANSACTION_ID,Amount,ACCOUNT_UDC_ID,Recharge Date,SECTION_NAME,DIVISION_NAME,SUBDIVISION_NAME
0,SBPDCL,7050354904,GOEGP4460267,113152704621,500.0,101127160,1/23/2024 1:00:58 AM,Sec-Ashok Nagar,Kankarbagh,Karbigahiya
1,SBPDCL,8789368270,GOEGP5027287,113152703999,51.0,101158570,1/23/2024 1:00:58 AM,SEC - KUMHRAR,RAMKRISHNA NAGAR,GOPALPUR
2,SBPDCL,9430522222,GOEGP7614535,113152706055,1000.0,102500273,1/23/2024 1:00:58 AM,SEC-BAILEY ROAD,KHAGAUL,KHAGAUL
3,NBPDCL,9955832740,GOEGP7510218,113152706585,500.0,400898008,1/23/2024 1:00:58 AM,Sec-Begusarai(U)- I,Begusarai,Begusarai(U)
4,SBPDCL,7991165991,GOEGP5014038,113152705194,4000.0,101231151,1/23/2024 1:00:58 AM,Sec-P.S.S,Danapur,Danapur

In [34]:


# changes in dataset like :- UPPER, SPACE REMOVAL , DATATYPE

RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.astype(str)
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.columns = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.columns.str.upper()
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.columns = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.columns.str.strip()

In [35]:
# change data type for recharge date

RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY['RECHARGE DATE'] = pd.to_datetime(RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY['RECHARGE DATE'])

In [36]:
yesterday = datetime.now() - timedelta(days=1)
yesterday_date = yesterday.date()
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY[RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY['RECHARGE DATE'].dt.date == yesterday_date]

In [37]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.head()

,ORG NAME,MOBILE,METER NO,TRANSACTION_ID,AMOUNT,ACCOUNT_UDC_ID,RECHARGE DATE,SECTION_NAME,DIVISION_NAME,SUBDIVISION_NAME
91312,SBPDCL,7992219610,GOEGP7540354,113153768006,100.0,100781854,2024-01-24 01:00:59,Sec-Saidpur,Rajendra Nagar,Rajendra Nagar
91313,NBPDCL,6206702739,LNTLT0706880,113153769605,300.0,401641599,2024-01-24 01:00:59,Sec-Katihar (S),Katihar,Katihar (U)
91314,SBPDCL,9234788496,GOEGP7632199,113153771743,1500.0,100776105,2024-01-24 01:00:59,Sec-Rajendra Nagar,Rajendra Nagar,Rajendra Nagar
91315,SBPDCL,9470985118,LNTLT0014532,113153769346,2000.0,240206374514,2024-01-24 01:00:59,WALMI,KHAGAUL,PHULWARISHARIF
91316,SBPDCL,9852266111,LNTLT0096031,113153769404,500.0,100249577,2024-01-24 01:00:59,Sec-Powerganj,Arrah,Arrah(urban)-I

In [38]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY['day_new']=RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY['RECHARGE DATE'].dt.day 
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY['day_new'].unique()

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\4179711044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY['day_new']=RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY['RECHARGE DATE'].dt.day

array([24])

In [39]:
# sort data based on recahrge date ,  latest to oldest

RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=False,inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\1893061207.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=False,inplace=True)

In [40]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.head(1)

,ORG NAME,MOBILE,METER NO,TRANSACTION_ID,AMOUNT,ACCOUNT_UDC_ID,RECHARGE DATE,SECTION_NAME,DIVISION_NAME,SUBDIVISION_NAME,day_new
194761,SBPDCL,9771641004,GOEGP5862067,SBPS1000134601542,800.0,100780247,2024-01-24 22:59:56,Sec-Machuatoli,Rajendra Nagar,Machuatoli,24

In [41]:
# merge with  CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION & RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE=pd.merge(CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION, RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY[['METER NO','RECHARGE DATE']], left_on=['UDC_ID_1'], right_on=['METER NO'], how='left')

In [42]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.columns

Index(['UDC_ID', 'UDC_ID_1', 'TYPE_CD', 'SUB_TYPE_CD', 'STATUS_CD',
       'OUTCOME_CD', 'ALT_OUTCOME_REASON_CD', 'ORG_ID', 'OPEN_TIME',
       'CLOSE_TIME', 'NAME', 'BALANCE', 'LOAD_STATUS', 'day', 'previous day',
       'DIVISION', 'CATEGORY NAME', 'FULL_METER_NUMBER', 'DIFF_OPEN_CLOSE',
       'METER NO', 'RECHARGE DATE'],
      dtype='object')

In [43]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE[CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.duplicated(keep=False)].sort_values(by=['UDC_ID_1','RECHARGE DATE'], ascending=[True,False]).head()

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS,day,previous day,DIVISION,CATEGORY NAME,FULL_METER_NUMBER,DIFF_OPEN_CLOSE,METER NO,RECHARGE DATE
40153,401640887,GOEGL8616557,Meter Service,Load - Hard Reconnect,Done,Success,0,102,2024-01-24 13:30:41,2024-01-24 13:31:32,NBPDCL,441.26,Y,24,23,HAJIPUR,DS-IID,GOEGL8616557,0 days 00:00:51,GOEGL8616557,2024-01-24 13:26:58
40154,401640887,GOEGL8616557,Meter Service,Load - Hard Reconnect,Done,Success,0,102,2024-01-24 13:30:41,2024-01-24 13:31:32,NBPDCL,441.26,Y,24,23,HAJIPUR,DS-IID,GOEGL8616557,0 days 00:00:51,GOEGL8616557,2024-01-24 13:26:58
40151,401813106,GOEGL8616570,Meter Service,Load - Hard Reconnect,Done,Success,0,102,2024-01-24 15:41:57,2024-01-24 15:42:13,NBPDCL,839.55,Y,24,23,HAJIPUR,NDS-IID(B),GOEGL8616570,0 days 00:00:16,GOEGL8616570,2024-01-24 15:41:57
40152,401813106,GOEGL8616570,Meter Service,Load - Hard Reconnect,Done,Success,0,102,2024-01-24 15:41:57,2024-01-24 15:42:13,NBPDCL,839.55,Y,24,23,HAJIPUR,NDS-IID(B),GOEGL8616570,0 days 00:00:16,GOEGL8616570,2024-01-24 15:41:57
40145,400852830,GOEGL8616686,Meter Service,Load - Hard Reconnect,Done,Success,0,102,2024-01-24 10:00:57,2024-01-24 10:01:26,NBPDCL,-4.45,Y,24,23,HAJIPUR,NDS-IID(B),GOEGL8616686,0 days 00:00:29,GOEGL8616686,2024-01-24 10:00:57

In [44]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.head()

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS,day,previous day,DIVISION,CATEGORY NAME,FULL_METER_NUMBER,DIFF_OPEN_CLOSE,METER NO,RECHARGE DATE
0,101615324,GOEGL8548500,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 13:30:12,2024-01-24 13:31:07,SBPDCL,-30.29,Y,24,23,BANKIPUR,NDS-IID(B),GOEGL8548500,0 days 00:00:55,GOEGL8548500,2024-01-24 13:17:59
1,100709427,LNTLT0280240,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 15:15:25,2024-01-24 15:18:16,SBPDCL,14.43,Y,24,23,GARDANIBAGH,NDS-IID(B),LNTLT0280240,0 days 00:02:51,LNTLT0280240,2024-01-24 15:09:56
2,108433017,LNTLT0279547,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 15:15:15,2024-01-24 15:17:19,SBPDCL,258.83,Y,24,23,PATNA CITY,DS-IID,LNTLT0279547,0 days 00:02:04,LNTLT0279547,2024-01-24 15:01:57
3,100672252,LNTLT0279563,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 13:52:56,2024-01-24 13:53:11,SBPDCL,106.71,Y,24,23,GARDANIBAGH,DS-IID,LNTLT0279563,0 days 00:00:15,LNTLT0279563,2024-01-24 13:52:56
4,108409512,LNTLT0279585,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 10:42:57,2024-01-24 10:43:10,SBPDCL,707.60,Y,24,23,ASHIYANA,NDS-IID(B),LNTLT0279585,0 days 00:00:13,LNTLT0279585,2024-01-24 10:42:57

In [45]:
# SORT VALUES ON THE BASIS OF METER AND RECHARGE DATA
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.sort_values(by=['UDC_ID_1','RECHARGE DATE'], ascending=[True,False],inplace=True)
#RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=False,inplace=True)


# SAVING DATA AT OUTPUT FOLDER 

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.to_csv (r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.csv",index= False)


# drop duplicate , and keep first

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.drop_duplicates(subset=['UDC_ID_1'], keep='first', inplace=True, ignore_index=True)

In [46]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.shape

(40669, 21)

In [47]:
# where diff in close and rechage data is is negative 

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['DIFF_CLOSE_RECHARGE'] = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['CLOSE_TIME'] - CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['RECHARGE DATE']

In [48]:
import pandas as pd

# Assuming CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE is your DataFrame
# and 'DIFF_CLOSE_RECHARGE' is the timedelta column

# Filter rows with positive diff
POSITIVE_DIFF_CLOSE_RECHARGE_DATE = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE[
    CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)]

# Filter rows with negative diff
NEGATIVE_DIFF_CLOSE_RECHARGE_DATE = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE[
    CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['DIFF_CLOSE_RECHARGE'] < pd.Timedelta(0)]


NULL_DATA_CLOSE_RECHARGE_DATE=CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE[
    CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['DIFF_CLOSE_RECHARGE'].isnull()]

In [49]:
# DATA SAVE TO OUTPUT FOLDER

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.to_csv (r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.csv",index= False)

# FOR NEGATIVE RECHARGE DATA

In [50]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.head()

,ORG NAME,MOBILE,METER NO,TRANSACTION_ID,AMOUNT,ACCOUNT_UDC_ID,RECHARGE DATE,SECTION_NAME,DIVISION_NAME,SUBDIVISION_NAME,day_new
194761,SBPDCL,9771641004,GOEGP5862067,SBPS1000134601542,800.0,100780247,2024-01-24 22:59:56,Sec-Machuatoli,Rajendra Nagar,Machuatoli,24
194721,SBPDCL,9431434237,LNTLT0200480,SBBD1000134601614,500.0,100254821,2024-01-24 22:59:56,Sec-HEADQUARTER,Arrah,Arrah(urban)-I,24
194732,SBPDCL,9625354045,LNTLT0605251,SBPS1000134601526,2000.0,102338173,2024-01-24 22:59:56,SEC-PADHRI KI HAWELI,Patna City,Patna City,24
194731,SBPDCL,9798493839,LNTLT0619766,SBPS1000134601597,500.0,100663737,2024-01-24 22:59:56,Sec-Nawada(E),Nawadah,Nawadah,24
194730,SBPDCL,9386653673,LNTLT0570917,SBPS1000134601661,500.0,100905987,2024-01-24 22:59:56,Sec-Gaighat,Gulzarbagh,Gaighat,24

In [51]:
NEGATIVE_DIFF_CLOSE_RECHARGE_DATE.head(2)

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS,day,previous day,DIVISION,CATEGORY NAME,FULL_METER_NUMBER,DIFF_OPEN_CLOSE,METER NO,RECHARGE DATE,DIFF_CLOSE_RECHARGE
42,108519006,GOEGL8550449,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 12:45:51,2024-01-24 12:48:48,SBPDCL,1174.29,Y,24,23,BANKIPUR,DS-IID,GOEGL8550449,0 days 00:02:57,GOEGL8550449,2024-01-24 12:50:58,-1 days +23:57:50
87,102150897,GOEGL8552598,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 19:00:55,2024-01-24 19:16:57,SBPDCL,623.13,Y,24,23,KHAGAUL,DS-IID,GOEGL8552598,0 days 00:16:02,GOEGL8552598,2024-01-24 20:01:57,-1 days +23:15:00

In [52]:

RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=True,inplace=True)


# DROP COLUMN FROM NEGATIVE_DIFF_CLOSE_RECHARGE_DATE

NEGATIVE_DIFF_CLOSE_RECHARGE_DATE.drop(['METER NO', 'RECHARGE DATE','DIFF_CLOSE_RECHARGE'], axis=1, inplace=True)

#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------

# merge with  NEGATIVE_DIFF_CLOSE_RECHARGE_DATE & RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY

MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL=pd.merge(NEGATIVE_DIFF_CLOSE_RECHARGE_DATE, RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY[['METER NO','RECHARGE DATE']], left_on=['UDC_ID_1'], right_on=['METER NO'], how='left')


#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------

# SORT VALUES ON THE BASIS OF METER AND RECHARGE DATA
MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.sort_values(by=['UDC_ID_1','RECHARGE DATE'], ascending=[True,True],inplace=True)

MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.drop_duplicates(subset=['UDC_ID_1'], keep='first', inplace=True, ignore_index=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\475749551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=True,inplace=True)
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_26800\475749551.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NEGATIVE_DIFF_CLOSE_RECHARGE_DATE.drop(['METER NO', 'RECHARGE DATE','DIFF_CLOSE_RECHARGE'], axis=1, inplace=True)

In [53]:
# where diff in close and rechage data is is negative 

MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['DIFF_CLOSE_RECHARGE'] = MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['CLOSE_TIME'] - MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['RECHARGE DATE']

In [54]:
# find the date diff

POSITIVE_DIFF_CLOSE_RECHARGE_DATE_FOR_EARLIER_NEGATIVE = MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL[
    MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)]

# Filter rows with negative diff
NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_FOR_EARLIER_NEGATIVE = MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL[
    MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['DIFF_CLOSE_RECHARGE'] < pd.Timedelta(0)]


NULL_DATA_CLOSE_RECHARGE_DATE_FOR_EARLIER_NEGATIVE=MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL[
    MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['DIFF_CLOSE_RECHARGE'].isnull()]

# concat the data

In [55]:
CONCAT_FINAL_DATA = pd.concat([POSITIVE_DIFF_CLOSE_RECHARGE_DATE, NULL_DATA_CLOSE_RECHARGE_DATE,MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL], ignore_index=True)

In [56]:
CONCAT_FINAL_DATA.head(2)

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS,day,previous day,DIVISION,CATEGORY NAME,FULL_METER_NUMBER,DIFF_OPEN_CLOSE,METER NO,RECHARGE DATE,DIFF_CLOSE_RECHARGE
0,101615324,GOEGL8548500,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 13:30:12,2024-01-24 13:31:07,SBPDCL,-30.29,Y,24,23,BANKIPUR,NDS-IID(B),GOEGL8548500,0 days 00:00:55,GOEGL8548500,2024-01-24 13:17:59,0 days 00:13:08
1,101824660,GOEGL8548523,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 14:15:56,2024-01-24 14:17:23,SBPDCL,801.91,Y,24,23,NAWADAH,DS-IID,GOEGL8548523,0 days 00:01:27,GOEGL8548523,2024-01-24 14:15:56,0 days 00:01:27

In [57]:
CONCAT_FINAL_DATA['days'] = CONCAT_FINAL_DATA['DIFF_CLOSE_RECHARGE'].dt.days
CONCAT_FINAL_DATA['hours'] = (CONCAT_FINAL_DATA['DIFF_CLOSE_RECHARGE'].dt.seconds // 3600).fillna(0).astype(int)
CONCAT_FINAL_DATA['minutes'] = ((CONCAT_FINAL_DATA['DIFF_CLOSE_RECHARGE'].dt.seconds // 60) % 60).fillna(0).astype(int)

In [58]:
CONCAT_FINAL_DATA['days_new'] = CONCAT_FINAL_DATA['days'].apply(lambda x: int(x) if pd.notna(x) else x)

In [59]:
CONCAT_FINAL_DATA.head(1)

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS,day,previous day,DIVISION,CATEGORY NAME,FULL_METER_NUMBER,DIFF_OPEN_CLOSE,METER NO,RECHARGE DATE,DIFF_CLOSE_RECHARGE,days,hours,minutes,days_new
0,101615324,GOEGL8548500,Meter Service,Load - Hard Reconnect,Done,Success,0,52,2024-01-24 13:30:12,2024-01-24 13:31:07,SBPDCL,-30.29,Y,24,23,BANKIPUR,NDS-IID(B),GOEGL8548500,0 days 00:00:55,GOEGL8548500,2024-01-24 13:17:59,0 days 00:13:08,0.0,0,13,0.0

In [60]:
def SLA_COLUMN(row):
    if (pd.isna(row['METER NO'])) or (row['DIFF_CLOSE_RECHARGE'] < pd.Timedelta(0)) or (row['hours']>= 2) :
        return '>= 2 hr'
    elif (pd.notna(row['METER NO']) and (row['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)) and  (row['hours'] < 1))  and ((row['minutes'] <= 10 ) or (row['minutes'] == 0 )) :
        return '<= 10 min'
    
    elif (pd.notna(row['METER NO']) and (row['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)) and  (row['hours'] < 1))  and (row['minutes'] > 10 ) :
        return '<= 1 hr'
    elif (pd.notna(row['METER NO']) and (row['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)) and  (row['hours'] >= 1) and (row['hours'] < 2) )  and (row['minutes'] <= 60 ) :
        return '<= 2 hr'
    else:
        return 'other case'

CONCAT_FINAL_DATA['SLA'] = CONCAT_FINAL_DATA.apply(SLA_COLUMN, axis=1)

In [61]:
#CONCAT_FINAL_DATA[CONCAT_FINAL_DATA['DIFF_CLOSE_RECHARGE'] < pd.Timedelta(0)].head()
#CONCAT_FINAL_DATA[CONCAT_FINAL_DATA['hours']>= 2]
CONCAT_FINAL_DATA['SLA'].unique()

array(['<= 1 hr', '<= 10 min', '<= 2 hr', '>= 2 hr'], dtype=object)

In [62]:
CONCAT_FINAL_DATA[CONCAT_FINAL_DATA['SLA']=='other case'].head()
#CONCAT_FINAL_DATA[CONCAT_FINAL_DATA['METER NO'].isnull()].shape

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE, DIFF_CLOSE_RECHARGE, days, hours, minutes, days_new, SLA]
Index: []

In [63]:
# save output data

CONCAT_FINAL_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\CONCAT_FINAL_DATA.csv",index=False)