In [576]:
import pandas as pd
import numpy as np
import os
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)

In [577]:
# DAYS CAN BE CHANGE FROM HERE

START_DATE = 6
START_DATE_PLUS_ONE = 7

In [578]:
import os
import glob

base_file_path = r'C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE'
fixed_file_name_rc_dc = 'Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests'
fixed_file_name_recharge = 'RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY'

# List all files in the base path
files_in_base_path = glob.glob(os.path.join(base_file_path, '*'))

# Find and rename files with the changing name for Modified_DISCONNECTION_RECONNECTION_REPORT
matching_files_rc_dc = [file for file in files_in_base_path if fixed_file_name_rc_dc.lower() in file.lower()]

for changing_name_file in matching_files_rc_dc:
    new_file_path = os.path.join(base_file_path, f"{fixed_file_name_rc_dc}.csv")
    os.rename(changing_name_file, new_file_path)
    print(f"File renamed to {fixed_file_name_rc_dc}")
    print(f"File path  {new_file_path}")

# Find and rename files with the changing name for RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY
matching_files_recharge = [file for file in files_in_base_path if fixed_file_name_recharge.lower() in file.lower()]

for changing_name_file in matching_files_recharge:
    new_file_path = os.path.join(base_file_path, f"{fixed_file_name_recharge}.csv")
    os.rename(changing_name_file, new_file_path)
    print(f"File renamed to {fixed_file_name_recharge}")
    print(f"File path  {new_file_path}")

if not matching_files_rc_dc and not matching_files_recharge:
    print("No files with changing names found in the base path.")

File renamed to Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests
File path  C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests.csv
File renamed to RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY
File path  C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.csv

In [579]:
# RC_DC_REPORT , PRIVILEGE_GROUP_STATUS ,  RECHARGE DETAILS

Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests.csv")
Orgwise_Privilege_group_status_SB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Orgwise_Privilege_group_status_SB.csv")
Orgwise_Privilege_group_status_NB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Orgwise_Privilege_group_status_NB.csv")
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.csv")

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_36668\1226762718.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  Orgwise_Privilege_group_status_SB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Orgwise_Privilege_group_status_SB.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_36668\1226762718.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  Orgwise_Privilege_group_status_NB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Orgwise_Privilege_group_status_NB.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_36668\1226762718.py:6: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.csv")

In [580]:
COMPILED_METER_2021=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv")
COMPLIED_METER_2022=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv")
COMPLIED_METER_2023=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv")
COMPLIED_METER_2024=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2024.csv")

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_36668\567392238.py:1: DtypeWarning: Columns (7,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPILED_METER_2021=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_36668\567392238.py:2: DtypeWarning: Columns (7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPLIED_METER_2022=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_36668\567392238.py:3: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPLIED_METER_2023=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv")

In [581]:
# compiled data
ALL_DATA_COMPILATION_MERGE_2023 = pd.concat([COMPILED_METER_2021, COMPLIED_METER_2022,COMPLIED_METER_2023], ignore_index=True)

# DATA COMPILATION MERGE

ALL_DATA_COMPILATION_MERGE = pd.concat([ALL_DATA_COMPILATION_MERGE_2023,COMPLIED_METER_2024], ignore_index=True)


# changes in dataset like :- UPPER, SPACE REMOVAL , DATATYPE

ALL_DATA_COMPILATION_MERGE = ALL_DATA_COMPILATION_MERGE.astype(str)
ALL_DATA_COMPILATION_MERGE.columns = ALL_DATA_COMPILATION_MERGE.columns.str.upper()
ALL_DATA_COMPILATION_MERGE = ALL_DATA_COMPILATION_MERGE.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ALL_DATA_COMPILATION_MERGE.columns = ALL_DATA_COMPILATION_MERGE.columns.str.strip()


# CONVERT INTO DATETIME, SORT VALUES AND DROP DUPLICATES
ALL_DATA_COMPILATION_MERGE['REPLACEMENT DATE'] = pd.to_datetime(ALL_DATA_COMPILATION_MERGE['REPLACEMENT DATE'])
ALL_DATA_COMPILATION_MERGE.sort_values(by=['REPLACEMENT DATE'],ascending=False,inplace= True)

# drop duplicate keep first , other drop

ALL_DATA_COMPILATION_MERGE.drop_duplicates(subset=['NEW METER NO'], keep='first', inplace=True, ignore_index=True)

In [582]:
ALL_DATA_COMPILATION_MERGE[ALL_DATA_COMPILATION_MERGE.duplicated(subset=['NEW METER NO'],keep=False)].sort_values(by=['NEW METER NO','REPLACEMENT DATE'],ascending=[True,False]).head(10)

Empty DataFrame
Columns: [SL, SECTION ID, CLUSTER, CATEGORY, WO STATUS, WORK ORDER TYPE, NEW METER NO, CONSUMER ID, INSTALLATION_NUMBER, NAME, ADDRESS, MOBILE NUMBER, UTILITY NAME, REPLACEMENT DATE, MRU, LAT, LONG, CATEGORY NAME, PHASE, TOWN, VENDOR NAME, SECTION, DIVISION, STATUS, VENDOR_MANAGER, VENDOR_PLANNER, DUPLICATE, SECTION_ID]
Index: []

In [583]:

# Custom function to update meter numbers
def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
ALL_DATA_COMPILATION_MERGE['FULL_METER_NUMBER'] = ALL_DATA_COMPILATION_MERGE['NEW METER NO'].apply(update_meter_number)

In [584]:
ALL_DATA_COMPILATION_MERGE.shape

(1711870, 29)

# CHECK DATE

In [585]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['OPEN_TIME'] = pd.to_datetime(Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['OPEN_TIME'])
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'] = pd.to_datetime(Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'])




# fetch data where close time is not null
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time_WITH_TODAY_YESTERDAY = Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests[~Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'].isnull()]
yesterday = datetime.now() - timedelta(days=START_DATE)
yesterday_date = yesterday.date()
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time = Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time_WITH_TODAY_YESTERDAY[Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time_WITH_TODAY_YESTERDAY['CLOSE_TIME'].dt.date == yesterday_date]
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['CLOSE_TIME'].dt.day 
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day'] = (Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['CLOSE_TIME'] - pd.to_timedelta(1, unit='d')).dt.day


# convert into int type
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day'].astype('Int32')
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day'].astype('Int32')

In [586]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day'].unique()

<IntegerArray>
[]
Length: 0, dtype: Int32

In [587]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time.shape

(0, 15)

# merge

In [588]:
# merge data  : RC_DC  AND ALL DATA COMPILATION

LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION = pd.merge(Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time, ALL_DATA_COMPILATION_MERGE[['DIVISION','CATEGORY NAME','FULL_METER_NUMBER']], left_on=['UDC_ID_1'], right_on=['FULL_METER_NUMBER'], how='left')

In [589]:
# NULL & NOT NULL ROWS

LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS=LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION[LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION['DIVISION'].isnull()]
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NOT_NULL= LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION[~LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION['DIVISION'].isnull()]

# PRIVILAGE DATA

In [590]:

# concat data  concat_Orgwise_Privilege_group_status_NB_SB
concat_Orgwise_Privilege_group_status_NB_SB = pd.concat([Orgwise_Privilege_group_status_SB,Orgwise_Privilege_group_status_NB],ignore_index=True)

# dop duplicate in  concat_Orgwise_Privilege_group_status_NB_SB
concat_Orgwise_Privilege_group_status_NB_SB.drop_duplicates(subset=['METERNO'], keep='first', inplace=True, ignore_index=True)

concat_Orgwise_Privilege_group_status_NB_SB.shape

(1614246, 14)

In [591]:
# upper letter
concat_Orgwise_Privilege_group_status_NB_SB.columns = concat_Orgwise_Privilege_group_status_NB_SB.columns.str.upper()


# Remove leading and trailing whitespaces from all columns where dtype is 'O'
concat_Orgwise_Privilege_group_status_NB_SB = concat_Orgwise_Privilege_group_status_NB_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)

# MERGE

In [592]:
# DROP EXTRA COLUMN OF  LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS

LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS.drop(['DIVISION', 'CATEGORY NAME','FULL_METER_NUMBER'], axis=1, inplace=True)

# merge rc_Dc and privilege for division and category
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED=pd.merge(LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS, concat_Orgwise_Privilege_group_status_NB_SB[['DIVISION','CATEGORY','METERNO']], left_on=['UDC_ID_1'], right_on=['METERNO'], how='left')

# IT SHOULD BE ZERO

In [593]:
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED[LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED['DIVISION'].isnull()].shape

(0, 18)

In [594]:
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED.rename(
    columns={"DIVISION": "DIVISION", "CATEGORY": "CATEGORY NAME", "METERNO": "FULL_METER_NUMBER"},
    inplace=True
)

In [595]:
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED.columns

Index(['UDC_ID', 'UDC_ID_1', 'TYPE_CD', 'SUB_TYPE_CD', 'STATUS_CD',
       'OUTCOME_CD', 'ALT_OUTCOME_REASON_CD', 'ORG_ID', 'OPEN_TIME',
       'CLOSE_TIME', 'NAME', 'BALANCE', 'LOAD_STATUS', 'day', 'previous day',
       'DIVISION', 'CATEGORY NAME', 'FULL_METER_NUMBER'],
      dtype='object')

In [596]:
LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NOT_NULL.columns

Index(['UDC_ID', 'UDC_ID_1', 'TYPE_CD', 'SUB_TYPE_CD', 'STATUS_CD',
       'OUTCOME_CD', 'ALT_OUTCOME_REASON_CD', 'ORG_ID', 'OPEN_TIME',
       'CLOSE_TIME', 'NAME', 'BALANCE', 'LOAD_STATUS', 'day', 'previous day',
       'DIVISION', 'CATEGORY NAME', 'FULL_METER_NUMBER'],
      dtype='object')

In [597]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA = pd.concat([LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NOT_NULL, LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS_PRIVILEGED], ignore_index=True)

In [598]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA.shape

(0, 18)

In [599]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA['SUB_TYPE_CD'].unique()

array([], dtype=object)

#  disconnected part

In [600]:
# for disconnected part

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA[CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA['SUB_TYPE_CD']=='Load - Disconnect']
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS['SUB_TYPE_CD'].unique()

array([], dtype=object)

In [601]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.shape

(0, 18)

In [602]:

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.sort_values(by=['OUTCOME_CD'], ascending=False,inplace = True)

In [603]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.shape

(0, 18)

In [604]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.head(1)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER]
Index: []

In [605]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.drop_duplicates(subset=['UDC_ID_1'],keep='first', inplace=True)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER]
Index: []

In [606]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.head()

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER]
Index: []

In [607]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.shape

(0, 18)

In [608]:
# group by

#CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.groupby()
#qtr_wise_status_bar_chart=ticket_df[ticket_df['year'].isin(option_year)].groupby(['year','yr_qtr','Status'])['Ticket No'].count()

In [609]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.to_csv (r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.csv",index= False)

In [610]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS.shape

(0, 18)

In [611]:
DISCONNECTION_FINAL_DATA = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_DIS

In [612]:
DISCONNECTION_FINAL_DATA.to_csv (r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\DISCONNECTION_FINAL_DATA.csv",index= False)

# reconnection data

In [613]:
# for disconnected part

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA[CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA['SUB_TYPE_CD']=='Load - Hard Reconnect']
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['SUB_TYPE_CD'].unique()

array([], dtype=object)

In [614]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.shape

(0, 18)

In [615]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.head()

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER]
Index: []

In [616]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.shape

(0, 18)

In [617]:
#check_data = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION[CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.duplicated(keep=False)].sort_values(by=['CLOSE_TIME'],ascending=True)

In [618]:

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.sort_values(by=['OUTCOME_CD'], ascending=False,inplace = True)
#CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.drop_duplicates(keep='first', inplace=True)

In [619]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.shape

(0, 18)

In [620]:

#CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.sort_values(by=['OUTCOME_CD','CLOSE_TIME'], ascending=[False,True],inplace = True)
#CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.drop_duplicates(keep='first', inplace=True)

In [621]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.head(2)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER]
Index: []

In [622]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['DIFF_OPEN_CLOSE'] = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['CLOSE_TIME'] - CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION['OPEN_TIME']

In [623]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.head(2)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE]
Index: []

In [624]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.shape

(0, 19)

In [625]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.sort_values(by=['OUTCOME_CD','UDC_ID_1','CLOSE_TIME'], ascending=[False,True,True],inplace=True)
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.drop_duplicates(subset=['UDC_ID_1'],keep='first', inplace=True)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE]
Index: []

In [626]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.shape

(0, 19)

In [627]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION.head(1)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE]
Index: []

# Recharge data

In [628]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.head()

,Org Name,Mobile,Meter No,TRANSACTION_ID,Amount,ACCOUNT_UDC_ID,Recharge Date,SECTION_NAME,DIVISION_NAME,SUBDIVISION_NAME
0,SBPDCL,9955771396,LNTLT1063439,113327738273,500,240210554896,6/13/2024 1:00:41 AM,WALMI,KHAGAUL,PHULWARISHARIF
1,SBPDCL,9931858157,GOEGP7543640,113327737049,500,101315886,6/13/2024 1:00:41 AM,Sec-Buddha colony,New Capital,New Capital
2,SBPDCL,9939077788,GOEGL8616363,113327737543,1000,101094514,6/13/2024 1:00:41 AM,Sec-Kankarbhagh(E),Kankarbagh,Kankarbagh
3,SBPDCL,9931607128,GOEGL8908882,113327738080,500,100691495,6/13/2024 1:00:41 AM,Sec-Jakkanpura,Gardanibagh,Jakkanpura
4,NBPDCL,9708542003,LNTLT0882697,113327712364,50,10640004728,6/13/2024 1:00:41 AM,Nirmali_New,Raghopur,Nirmali_New

In [629]:


# changes in dataset like :- UPPER, SPACE REMOVAL , DATATYPE

RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.astype(str)
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.columns = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.columns.str.upper()
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.columns = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY.columns.str.strip()

In [630]:
# change data type for recharge date

RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY['RECHARGE DATE'] = pd.to_datetime(RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY['RECHARGE DATE'])

# CHECK DATE

In [631]:
yesterday = datetime.now() - timedelta(days=START_DATE)
yesterday_date = yesterday.date()
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY[RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY['RECHARGE DATE'].dt.date == yesterday_date]

In [632]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.head()

,ORG NAME,MOBILE,METER NO,TRANSACTION_ID,AMOUNT,ACCOUNT_UDC_ID,RECHARGE DATE,SECTION_NAME,DIVISION_NAME,SUBDIVISION_NAME
0,SBPDCL,9955771396,LNTLT1063439,113327738273,500,240210554896,2024-06-13 01:00:41,WALMI,KHAGAUL,PHULWARISHARIF
1,SBPDCL,9931858157,GOEGP7543640,113327737049,500,101315886,2024-06-13 01:00:41,Sec-Buddha colony,New Capital,New Capital
2,SBPDCL,9939077788,GOEGL8616363,113327737543,1000,101094514,2024-06-13 01:00:41,Sec-Kankarbhagh(E),Kankarbagh,Kankarbagh
3,SBPDCL,9931607128,GOEGL8908882,113327738080,500,100691495,2024-06-13 01:00:41,Sec-Jakkanpura,Gardanibagh,Jakkanpura
4,NBPDCL,9708542003,LNTLT0882697,113327712364,50,10640004728,2024-06-13 01:00:41,Nirmali_New,Raghopur,Nirmali_New

In [633]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY['day_new']=RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY['RECHARGE DATE'].dt.day 
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY['day_new'].unique()

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_36668\4179711044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY['day_new']=RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY['RECHARGE DATE'].dt.day

array([13])

In [634]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.shape

(99645, 11)

In [635]:
# sort data based on recahrge date ,  latest to oldest

RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=False,inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_36668\1893061207.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=False,inplace=True)

In [636]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.head(1)

,ORG NAME,MOBILE,METER NO,TRANSACTION_ID,AMOUNT,ACCOUNT_UDC_ID,RECHARGE DATE,SECTION_NAME,DIVISION_NAME,SUBDIVISION_NAME,day_new
99644,SBPDCL,9934041784,LNTLT0636157,113329329107,668,21750035068,2024-06-13 23:00:12,BIHIYA,JAGDISHPUR,JAGDISHPUR,13

In [637]:
# merge with  CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION & RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE=pd.merge(CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION, RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY[['METER NO','RECHARGE DATE']], left_on=['UDC_ID_1'], right_on=['METER NO'], how='left')

In [638]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.columns

Index(['UDC_ID', 'UDC_ID_1', 'TYPE_CD', 'SUB_TYPE_CD', 'STATUS_CD',
       'OUTCOME_CD', 'ALT_OUTCOME_REASON_CD', 'ORG_ID', 'OPEN_TIME',
       'CLOSE_TIME', 'NAME', 'BALANCE', 'LOAD_STATUS', 'day', 'previous day',
       'DIVISION', 'CATEGORY NAME', 'FULL_METER_NUMBER', 'DIFF_OPEN_CLOSE',
       'METER NO', 'RECHARGE DATE'],
      dtype='object')

In [639]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.shape

(0, 21)

In [640]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE[CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.duplicated(keep=False)].head()

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE]
Index: []

In [641]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE[CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.duplicated(keep=False)].sort_values(by=['UDC_ID_1','RECHARGE DATE'], ascending=[True,False]).head()

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE]
Index: []

In [642]:
#CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE[CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['UDC_ID_1']=='GOEGL8569390']

In [643]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.head(2)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE]
Index: []

In [644]:
# SORT VALUES ON THE BASIS OF METER AND RECHARGE DATA
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.sort_values(by=['UDC_ID_1','RECHARGE DATE'], ascending=[True,False],inplace=True)
#RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=False,inplace=True)


# SAVING DATA AT OUTPUT FOLDER 

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.to_csv (r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.csv",index= False)


# drop duplicate , and keep first

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.drop_duplicates(subset=['UDC_ID_1'], keep='first', inplace=True, ignore_index=True)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE]
Index: []

In [645]:
CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.shape

(0, 21)

In [646]:
# where diff in close and rechage data is is negative 

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['DIFF_CLOSE_RECHARGE'] = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['CLOSE_TIME'] - CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['RECHARGE DATE']

In [647]:
import pandas as pd

# Assuming CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE is your DataFrame
# and 'DIFF_CLOSE_RECHARGE' is the timedelta column

# Filter rows with positive diff
POSITIVE_DIFF_CLOSE_RECHARGE_DATE = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE[
    CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)]

# Filter rows with negative diff
NEGATIVE_DIFF_CLOSE_RECHARGE_DATE = CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE[
    CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['DIFF_CLOSE_RECHARGE'] < pd.Timedelta(0)]


NULL_DATA_CLOSE_RECHARGE_DATE=CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE[
    CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE['DIFF_CLOSE_RECHARGE'].isnull()]

In [648]:
POSITIVE_DIFF_CLOSE_RECHARGE_DATE.shape

(0, 22)

In [649]:
NULL_DATA_CLOSE_RECHARGE_DATE.shape

(0, 22)

In [650]:
NEGATIVE_DIFF_CLOSE_RECHARGE_DATE.shape

(0, 22)

In [651]:
# DATA SAVE TO OUTPUT FOLDER

CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.to_csv (r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\CONCAT_NOT_NULL_AND_PRIVILAGE_MERGE_DATA_RECONNECTION_MERGE_RECHARGE.csv",index= False)

In [652]:
NULL_DATA_CLOSE_RECHARGE_DATE.shape

(0, 22)

# FOR NEGATIVE RECHARGE DATA

In [653]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.head()

,ORG NAME,MOBILE,METER NO,TRANSACTION_ID,AMOUNT,ACCOUNT_UDC_ID,RECHARGE DATE,SECTION_NAME,DIVISION_NAME,SUBDIVISION_NAME,day_new
99644,SBPDCL,9934041784,LNTLT0636157,113329329107,668,21750035068,2024-06-13 23:00:12,BIHIYA,JAGDISHPUR,JAGDISHPUR,13
99643,NBPDCL,8969511508,LNTLT0542180,113329329265,200,400805521,2024-06-13 23:00:12,Sec-Kishanganj(U),Kishanganj,Kishanganj,13
99642,SBPDCL,8084947921,LNTLT0591911,113329329262,200,100281302,2024-06-13 23:00:12,Sec-Arrah(W),Arrah,Arrah(urban)-II.,13
99641,SBPDCL,9470808018,LNTLT0391582,113329329238,1000,101986929,2024-06-13 23:00:12,Sec-Pataliputra,Pataliputra,Pataliputra,13
99640,SBPDCL,9504406555,LNTLT8038906,113329329206,2000,100932244,2024-06-13 23:00:12,Sec-Saidpur,Rajendra Nagar,Rajendra Nagar,13

In [654]:
NEGATIVE_DIFF_CLOSE_RECHARGE_DATE.head(2)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE, DIFF_CLOSE_RECHARGE]
Index: []

In [655]:

RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=True,inplace=True)


# DROP COLUMN FROM NEGATIVE_DIFF_CLOSE_RECHARGE_DATE

NEGATIVE_DIFF_CLOSE_RECHARGE_DATE.drop(['METER NO', 'RECHARGE DATE','DIFF_CLOSE_RECHARGE'], axis=1, inplace=True)

#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------

# merge with  NEGATIVE_DIFF_CLOSE_RECHARGE_DATE & RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY

MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL=pd.merge(NEGATIVE_DIFF_CLOSE_RECHARGE_DATE, RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY[['METER NO','RECHARGE DATE']], left_on=['UDC_ID_1'], right_on=['METER NO'], how='left')


#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------

# SORT VALUES ON THE BASIS OF METER AND RECHARGE DATA
MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.sort_values(by=['UDC_ID_1','RECHARGE DATE'], ascending=[True,True],inplace=True)

MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.drop_duplicates(subset=['UDC_ID_1'], keep='first', inplace=True, ignore_index=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_36668\475749551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=True,inplace=True)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE]
Index: []

In [656]:
MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.shape

(0, 21)

In [657]:
# where diff in close and rechage data is is negative 

MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['DIFF_CLOSE_RECHARGE'] = MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['CLOSE_TIME'] - MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['RECHARGE DATE']

In [658]:
# find the date diff

POSITIVE_DIFF_CLOSE_RECHARGE_DATE_FOR_EARLIER_NEGATIVE = MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL[
    MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)]

# Filter rows with negative diff
NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_FOR_EARLIER_NEGATIVE = MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL[
    MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['DIFF_CLOSE_RECHARGE'] < pd.Timedelta(0)]


NULL_DATA_CLOSE_RECHARGE_DATE_FOR_EARLIER_NEGATIVE=MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL[
    MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['DIFF_CLOSE_RECHARGE'].isnull()]

In [659]:
NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_FOR_EARLIER_NEGATIVE.shape

(0, 22)

# WORKING ON NULL DATA

In [660]:
NULL_DATA_CLOSE_RECHARGE_DATE.head()

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE, DIFF_CLOSE_RECHARGE]
Index: []

In [661]:
NULL_DATA_CLOSE_RECHARGE_DATE.shape

(0, 22)

# check date

In [662]:
yesterday = datetime.now() - timedelta(days=START_DATE_PLUS_ONE)
yesterday_date = yesterday.date()
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_DAY_BEFORE_YESTERDAY = RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY[RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY['RECHARGE DATE'].dt.date == yesterday_date]

In [663]:
RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_DAY_BEFORE_YESTERDAY.shape

(0, 10)

In [664]:

RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_DAY_BEFORE_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=False,inplace=True)


# DROP COLUMN FROM NEGATIVE_DIFF_CLOSE_RECHARGE_DATE

NULL_DATA_CLOSE_RECHARGE_DATE.drop(['METER NO', 'RECHARGE DATE','DIFF_CLOSE_RECHARGE'], axis=1, inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_36668\3315404361.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_DAY_BEFORE_YESTERDAY.sort_values(by=['RECHARGE DATE'], ascending=False,inplace=True)

In [665]:

MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL=pd.merge(NULL_DATA_CLOSE_RECHARGE_DATE, RECHARGE_DETAILS_FOR_ALL_WITHOUT_HIERARCHY_DAY_BEFORE_YESTERDAY[['METER NO','RECHARGE DATE']], left_on=['UDC_ID_1'], right_on=['METER NO'], how='left')

In [666]:
MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.shape

(0, 21)

In [667]:
MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.csv")

In [668]:
# SORT VALUES ON THE BASIS OF METER AND RECHARGE DATA
MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.sort_values(by=['UDC_ID_1','RECHARGE DATE'], ascending=[True,False],inplace=True)

MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.drop_duplicates(subset=['UDC_ID_1'], keep='first', inplace=True, ignore_index=True)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE]
Index: []

In [669]:
MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.shape

(0, 21)

In [670]:
import os,sys
if NULL_DATA_CLOSE_RECHARGE_DATE.shape[0] ==  MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.shape[0]:
    print(' dataframe is of same shape')
else:
    #sys.exit()
    print("Dataframe size is not same")

 dataframe is of same shape

In [671]:
# where diff in close and rechage data is is negative 

MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['DIFF_CLOSE_RECHARGE'] = MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['CLOSE_TIME'] - MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL['RECHARGE DATE']

In [672]:
MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL.shape

(0, 22)

# concat the data

In [673]:
CONCAT_FINAL_DATA = pd.concat([POSITIVE_DIFF_CLOSE_RECHARGE_DATE, MERGE_NULL_DATA_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL,MERGE_NEGATIVE_DIFF_CLOSE_RECHARGE_DATE_RECHARGE_DETAIL], ignore_index=True)

In [674]:
CONCAT_FINAL_DATA.head(2)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE, DIFF_CLOSE_RECHARGE]
Index: []

In [675]:
CONCAT_FINAL_DATA.shape

(0, 22)

In [676]:
CONCAT_FINAL_DATA['days'] = CONCAT_FINAL_DATA['DIFF_CLOSE_RECHARGE'].dt.days
CONCAT_FINAL_DATA['hours'] = (CONCAT_FINAL_DATA['DIFF_CLOSE_RECHARGE'].dt.seconds // 3600).fillna(0).astype(int)
CONCAT_FINAL_DATA['minutes'] = ((CONCAT_FINAL_DATA['DIFF_CLOSE_RECHARGE'].dt.seconds // 60) % 60).fillna(0).astype(int)

In [677]:
CONCAT_FINAL_DATA['days_new'] = CONCAT_FINAL_DATA['days'].apply(lambda x: int(x) if pd.notna(x) else x)

In [678]:
CONCAT_FINAL_DATA.head(1)

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE, DIFF_CLOSE_RECHARGE, days, hours, minutes, days_new]
Index: []

In [679]:
def SLA_COLUMN(row):
    if (pd.isna(row['METER NO'])) or (row['DIFF_CLOSE_RECHARGE'] < pd.Timedelta(0)) or (row['hours']>= 2) :
        return '>= 2 hr'
    elif (pd.notna(row['METER NO']) and (row['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)) and  (row['hours'] < 1))  and ((row['minutes'] <= 10 ) or (row['minutes'] == 0 )) :
        return '<= 10 min'
    
    elif (pd.notna(row['METER NO']) and (row['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)) and  (row['hours'] < 1))  and (row['minutes'] > 10 ) :
        return '<= 1 hr'
    
    elif (pd.notna(row['METER NO']) and (row['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)) and  (row['hours'] == 1))  and (row['minutes'] == 0 ) :
        return '<= 1 hr'
    
    elif (pd.notna(row['METER NO']) and (row['DIFF_CLOSE_RECHARGE'] >= pd.Timedelta(0)) and  (row['hours'] >= 1) and (row['hours'] < 2) )  and (row['minutes'] <= 60 ) :
        return '<= 2 hr'
    else:
        return 'other case'

CONCAT_FINAL_DATA['SLA'] = CONCAT_FINAL_DATA.apply(SLA_COLUMN, axis=1)

In [680]:
#CONCAT_FINAL_DATA[CONCAT_FINAL_DATA['DIFF_CLOSE_RECHARGE'] < pd.Timedelta(0)].head()
#CONCAT_FINAL_DATA[CONCAT_FINAL_DATA['hours']>= 2]
CONCAT_FINAL_DATA['SLA'].unique()

array([], dtype=float64)

In [681]:
CONCAT_FINAL_DATA[CONCAT_FINAL_DATA['SLA']=='other case'].head()
#CONCAT_FINAL_DATA[CONCAT_FINAL_DATA['METER NO'].isnull()].shape

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, day, previous day, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE, DIFF_CLOSE_RECHARGE, days, hours, minutes, days_new, SLA]
Index: []

In [682]:
RECONNECTION_FINAL_DATA=CONCAT_FINAL_DATA

In [683]:
# save output data

RECONNECTION_FINAL_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\RECONNECTION_FINAL_DATA.csv",index=False)

In [684]:
RECONNECTION_FINAL_DATA.shape

(0, 27)

In [685]:
RECONNECTION_FINAL_DATA = RECONNECTION_FINAL_DATA.astype(str)
RECONNECTION_FINAL_DATA.columns = RECONNECTION_FINAL_DATA.columns.str.upper()
RECONNECTION_FINAL_DATA = RECONNECTION_FINAL_DATA.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
RECONNECTION_FINAL_DATA.columns = RECONNECTION_FINAL_DATA.columns.str.strip()


DISCONNECTION_FINAL_DATA = DISCONNECTION_FINAL_DATA.astype(str)
DISCONNECTION_FINAL_DATA.columns = DISCONNECTION_FINAL_DATA.columns.str.upper()
DISCONNECTION_FINAL_DATA = DISCONNECTION_FINAL_DATA.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
DISCONNECTION_FINAL_DATA.columns = DISCONNECTION_FINAL_DATA.columns.str.strip()

In [686]:
DISCONNECTION_FINAL_DATA['ALT_OUTCOME_REASON_CD'] = DISCONNECTION_FINAL_DATA['ALT_OUTCOME_REASON_CD'].str.replace(',', ';')
RECONNECTION_FINAL_DATA['ALT_OUTCOME_REASON_CD'] = RECONNECTION_FINAL_DATA['ALT_OUTCOME_REASON_CD'].str.replace(',', ';')

In [687]:
# save output data

RECONNECTION_FINAL_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\RECONNECTION_FINAL_DATA.csv",index=False)

# save output data

DISCONNECTION_FINAL_DATA.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\OUTPUT FILE\DISCONNECTION_FINAL_DATA.csv",index=False)

In [688]:
DISCONNECTION_FINAL_DATA.shape

(0, 18)

In [689]:
RECONNECTION_FINAL_DATA.shape

(0, 27)

In [690]:
RECONNECTION_FINAL_DATA.head()

Empty DataFrame
Columns: [UDC_ID, UDC_ID_1, TYPE_CD, SUB_TYPE_CD, STATUS_CD, OUTCOME_CD, ALT_OUTCOME_REASON_CD, ORG_ID, OPEN_TIME, CLOSE_TIME, NAME, BALANCE, LOAD_STATUS, DAY, PREVIOUS DAY, DIVISION, CATEGORY NAME, FULL_METER_NUMBER, DIFF_OPEN_CLOSE, METER NO, RECHARGE DATE, DIFF_CLOSE_RECHARGE, DAYS, HOURS, MINUTES, DAYS_NEW, SLA]
Index: []