In [34]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [35]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests.csv")

In [36]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests.head(1)

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS
0,100686192,GOEGL8548411,Meter Service,Load - Disconnect,Done,Success,0,52,1/18/2024 10:00:11 AM,1/18/2024 10:05:14 AM,SBPDCL,-138555.7,N

In [37]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108675 entries, 0 to 108674
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   UDC_ID                 108675 non-null  int64
 1   UDC_ID_1               108675 non-null  object
 2   TYPE_CD                108675 non-null  object
 3   SUB_TYPE_CD            108675 non-null  object
 4   STATUS_CD              108675 non-null  object
 5   OUTCOME_CD             106079 non-null  object
 6   ALT_OUTCOME_REASON_CD  106005 non-null  object
 7   ORG_ID                 108675 non-null  int64
 8   OPEN_TIME              108675 non-null  object
 9   CLOSE_TIME             106005 non-null  object
 10  NAME                   108675 non-null  object
 11  BALANCE                108675 non-null  float64
 12  LOAD_STATUS            108675 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 10.8+ MB

In [38]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['OPEN_TIME'] = pd.to_datetime(Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['OPEN_TIME'])
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'] = pd.to_datetime(Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'])
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'].dt.day 

Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['previous day'] = (Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'] - pd.to_timedelta(1, unit='d')).dt.day

In [39]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests.head(2)

,UDC_ID,UDC_ID_1,TYPE_CD,SUB_TYPE_CD,STATUS_CD,OUTCOME_CD,ALT_OUTCOME_REASON_CD,ORG_ID,OPEN_TIME,CLOSE_TIME,NAME,BALANCE,LOAD_STATUS,day,previous day
0,100686192,GOEGL8548411,Meter Service,Load - Disconnect,Done,Success,0,52,2024-01-18 10:00:11,2024-01-18 10:05:14,SBPDCL,-138555.7,N,18.0,17.0
1,100686192,GOEGL8548411,Meter Service,Load - Disconnect,Done,Success,0,52,2024-01-18 10:00:11,2024-01-18 10:05:14,SBPDCL,-138555.7,N,18.0,17.0

In [40]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time = Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests[~Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests['CLOSE_TIME'].isnull()]
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day'].astype('Int32')
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day'].astype('Int32')

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_9396\1256154368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['previous day'].astype('Int32')
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_9396\1256154368.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day']=Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time['day'].astype('Int32')

In [41]:
Modified_DISCONNECTION_RECONNECTION_REPORT_for_all_requests_not_null_close_time.info()

<class 'pandas.core.frame.DataFrame'>
Index: 106005 entries, 0 to 108674
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   UDC_ID                 106005 non-null  int64
 1   UDC_ID_1               106005 non-null  object
 2   TYPE_CD                106005 non-null  object
 3   SUB_TYPE_CD            106005 non-null  object
 4   STATUS_CD              106005 non-null  object
 5   OUTCOME_CD             106005 non-null  object
 6   ALT_OUTCOME_REASON_CD  106005 non-null  object
 7   ORG_ID                 106005 non-null  int64
 8   OPEN_TIME              106005 non-null  datetime64[ns]
 9   CLOSE_TIME             106005 non-null  datetime64[ns]
 10  NAME                   106005 non-null  object
 11  BALANCE                106005 non-null  float64
 12  LOAD_STATUS            106005 non-null  object
 13  day                    106005 non-null  Int32
 14  previous day           106005 non-null  Int32
dtypes: Int32(2), datetime64[ns](2), float64(1), int64(2), object(8)
memory usage: 12.3+ MB