In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import os
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)

In [2]:
# DIVISION TABLE

DIVISION_MASTER_TABLE =pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\WEEKLY REPORT\INPUT FILE\DIVISION_MASTER.CSV")
print("DIVISION_MASTER_TABLE data is done")
WEEKLY_REPORT =  pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\WEEKLY REPORT\INPUT FILE\Division Master table.xlsx")
WEEKLY_REPORT.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_weekly_report\WEEKLY_REPORT.csv",index=False)
WEEKLY_REPORT=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_weekly_report\WEEKLY_REPORT.csv")


print('WEEKLY_REPORT')


# ----------------------------------------------------------------------------------------------------------------------------------
Orgwise_Privilege_group_status_SB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Orgwise_Privilege_group_status_SB.csv")
Orgwise_Privilege_group_status_NB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\RC_DC_INPUT_FILE\Orgwise_Privilege_group_status_NB.csv")


print("Orgwise_Privilege_group_status data ")
# ----------------------------------------------------------------------------------------------------------------------------------


# HES DATA

print("Working on HES data")

Infrastructure_Devices_NB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\WEEKLY REPORT\INPUT FILE\Infrastructure_Devices_NB.csv",sep=';')
Infrastructure_Devices_SB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\WEEKLY REPORT\INPUT FILE\Infrastructure_Devices_SB.csv",sep=';')

Infrastructure_Devices_NB.drop(columns=['Unnamed: 13'],axis=1,inplace=True)
Infrastructure_Devices_SB.drop(columns=['Unnamed: 13'],axis=1,inplace=True)

DIVISION_MASTER_TABLE data is done
WEEKLY_REPORT
Orgwise_Privilege_group_status data
Working on HES data

In [3]:
# METER COMPILATION DATA


COMPILED_METER_2021=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\COMPILED_METER_INSTALLATION_ALL\compiled_Data_2021.xlsx")
print("2021 data is done")
COMPLIED_METER_2022=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\COMPILED_METER_INSTALLATION_ALL\compiled_Data_2022.xlsx")
print("2022 data is done")
COMPLIED_METER_2023=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\COMPILED_METER_INSTALLATION_ALL\compiled_Data_2023.xlsx")
print("2023 data is done")
COMPLIED_METER_2024=pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\RC_DC_TRACKER\COMPILED_METER_INSTALLATION_ALL\complied_Data_2024.xlsx")
print("2024 data is done")


#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#convert to csv

COMPILED_METER_2021.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv",index=False)
COMPLIED_METER_2022.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv",index=False)
COMPLIED_METER_2023.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv",index=False)
COMPLIED_METER_2024.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2024.csv",index=False)


print("All file convert into CSV format")

2021 data is done
2022 data is done
2023 data is done
2024 data is done
All file convert into CSV format

In [4]:
COMPILED_METER_2021=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv")
COMPLIED_METER_2022=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv")
COMPLIED_METER_2023=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv")
COMPLIED_METER_2024=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2024.csv")


print("Read compilation csv file")

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17620\3065272073.py:1: DtypeWarning: Columns (7,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPILED_METER_2021=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17620\3065272073.py:2: DtypeWarning: Columns (7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPLIED_METER_2022=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17620\3065272073.py:3: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  COMPLIED_METER_2023=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv")

Read compilation csv file

In [5]:
# compiled data
ALL_DATA_COMPILATION_MERGE_2023 = pd.concat([COMPILED_METER_2021, COMPLIED_METER_2022,COMPLIED_METER_2023], ignore_index=True)

print("Merge 2021,2022,2023")

# DATA COMPILATION MERGE

ALL_DATA_COMPILATION_MERGE = pd.concat([ALL_DATA_COMPILATION_MERGE_2023,COMPLIED_METER_2024], ignore_index=True)

print("merge all data and 2024 data")


# changes in dataset like :- UPPER, SPACE REMOVAL , DATATYPE

ALL_DATA_COMPILATION_MERGE = ALL_DATA_COMPILATION_MERGE.astype(str)
ALL_DATA_COMPILATION_MERGE.columns = ALL_DATA_COMPILATION_MERGE.columns.str.upper()
ALL_DATA_COMPILATION_MERGE = ALL_DATA_COMPILATION_MERGE.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ALL_DATA_COMPILATION_MERGE.columns = ALL_DATA_COMPILATION_MERGE.columns.str.strip()


# --------------------------------------------------------------------------------------------------------------------------------
#  FOR THIS CODE WE WILL NOT REMOVE  THE DUPLICATE METER ON THE BASIS OF REPLACEMENT DATE

# CONVERT INTO DATETIME, SORT VALUES AND DROP DUPLICATES
ALL_DATA_COMPILATION_MERGE['REPLACEMENT DATE'] = pd.to_datetime(ALL_DATA_COMPILATION_MERGE['REPLACEMENT DATE'])

# This is for replacement date in desc order
#ALL_DATA_COMPILATION_MERGE.sort_values(by=['REPLACEMENT DATE'],ascending=False,inplace= True)

print("short the complilation data on the basis of replacement date")



# drop duplicate keep first , other drop

#ALL_DATA_COMPILATION_MERGE.drop_duplicates(subset=['NEW METER NO'], keep='first', inplace=True, ignore_index=True)

#print("Remove duplicate data")


print(f"Shape of compilation data is : {ALL_DATA_COMPILATION_MERGE.shape} ")

Merge 2021,2022,2023
merge all data and 2024 data
short the complilation data on the basis of replacement date
Shape of compilation data is : (1740039, 28)

In [ ]:
ALL_DATA_COMPILATION_MERGE['FULL_METER_NUMBER'] = ALL_DATA_COMPILATION_MERGE['NEW METER NO']

In [6]:

# Custom function to update meter numbers
def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
ALL_DATA_COMPILATION_MERGE['FULL_METER_NUMBER'] = ALL_DATA_COMPILATION_MERGE['NEW METER NO'].apply(update_meter_number)

#### copy data

In [7]:
# createing a duplicate copy for ALL_DATA_COMPILATION_MERGE data

ALL_DATA_COMPILATION_MERGE_COPY =  ALL_DATA_COMPILATION_MERGE

In [8]:

ALL_DATA_COMPILATION_MERGE_COPY = ALL_DATA_COMPILATION_MERGE_COPY.astype(str)
ALL_DATA_COMPILATION_MERGE_COPY.columns = ALL_DATA_COMPILATION_MERGE_COPY.columns.str.upper()
ALL_DATA_COMPILATION_MERGE_COPY = ALL_DATA_COMPILATION_MERGE_COPY.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ALL_DATA_COMPILATION_MERGE_COPY.columns = ALL_DATA_COMPILATION_MERGE_COPY.columns.str.strip()


# ----------------------------------------------------------------------------------------------------------------------
ALL_DATA_COMPILATION_MERGE_COPY['REPLACEMENT DATE'] = pd.to_datetime(ALL_DATA_COMPILATION_MERGE_COPY['REPLACEMENT DATE'])

# This is for replacement date in desc order
ALL_DATA_COMPILATION_MERGE_COPY.sort_values(by=['REPLACEMENT DATE'],ascending=False,inplace= True)

print("short the complilation data on the basis of replacement date")

# drop duplicate keep first , other drop

ALL_DATA_COMPILATION_MERGE_COPY.drop_duplicates(subset=['NEW METER NO'], keep='first', inplace=True, ignore_index=True)

short the complilation data on the basis of replacement date

In [10]:

# In this data we dont remove 
print(f"ALL_DATA_COMPILATION_MERGE data size is : {ALL_DATA_COMPILATION_MERGE.shape}")

# after removing duplicate data
print(f"ALL_DATA_COMPILATION_MERGE_COPY data size is : {ALL_DATA_COMPILATION_MERGE_COPY.shape}")

ALL_DATA_COMPILATION_MERGE data size is : (1740039, 29)
ALL_DATA_COMPILATION_MERGE_COPY data size is : (1670223, 29)

# Division  data

In [11]:
# dropping column

print("Working on division master table")

DIVISION_MASTER_TABLE.drop(['Unnamed: 0'], axis=1, inplace=True)

Working on division master table

In [ ]:
WEEKLY_REPORT.head(1)

  Division Division_new
0  BETTIAH      BETTIAH

In [12]:
DIVISION_MASTER_TABLE.shape

(122, 1)

In [13]:
DIVISION_MASTER_TABLE.head(1)

  Division_new_check
0            BETTIAH

In [14]:
# upper

DIVISION_MASTER_TABLE['Division_new_check'] =  DIVISION_MASTER_TABLE['Division_new_check'].str.upper()
WEEKLY_REPORT['Division'] =  WEEKLY_REPORT['Division'].str.upper()
WEEKLY_REPORT['Division_new'] =  WEEKLY_REPORT['Division_new'].str.upper()

print("change in upper string")

change in upper string

In [15]:
After_merge_check_data = pd.merge(DIVISION_MASTER_TABLE['Division_new_check'],WEEKLY_REPORT['Division'],left_on=['Division_new_check'],right_on=['Division'], how = 'left')

print("Merge done for DIVISION_MASTER_TABLE  &  WEEKLY_REPORT")

Merge done for DIVISION_MASTER_TABLE  &  WEEKLY_REPORT

In [16]:
print(f"Total shape of divison master  data is :  {After_merge_check_data['Division'].unique().shape[0]}")

Total shape of divison master  data is :  82

# working on DIVISION COLUMN in compilation data

In [17]:
ALL_DATA_COMPILATION_MERGE.head(1)

,SL,SECTION ID,CLUSTER,CATEGORY,WO STATUS,WORK ORDER TYPE,NEW METER NO,CONSUMER ID,INSTALLATION_NUMBER,NAME,ADDRESS,MOBILE NUMBER,UTILITY NAME,REPLACEMENT DATE,MRU,LAT,LONG,CATEGORY NAME,PHASE,TOWN,VENDOR NAME,SECTION,DIVISION,STATUS,VENDOR_MANAGER,VENDOR_PLANNER,DUPLICATE,SECTION_ID,FULL_METER_NUMBER
0,1,23231,Non-Pesu,End To End,nan,Meter Replacement,GP4970536,23230000588,nan,ALIMUDDIN ANSARI,"Baidrabad - Arwal Road, Makhdumpur, Bihar 8044...",8051964279.0,SBPD,2019-08-01,IP_ARW_PURANIMOHALLA,25.2426776885986,84.6566467285156,DS2D,1,Arwal,GLM,Arwal,Arwal,Closed,nan,nan,nan,nan,GOEGP4970536

In [18]:
# convert into upper char

ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].str.upper()

In [19]:
# change the division_name old name to new name

ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['ARA'], 'ARRAH')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['ARRAH'], 'ARRAH')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BHABUA'], 'BHABHUA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BHAGALPUR(E)'], 'BHAGALPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BHAGALPUR(U)'], 'BHAGALPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BHAGALPUR(URBAN)'], 'BHAGALPUR')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BIHARSHARIF'], 'BIHARSARIF')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BIHARSHARIFF'], 'BIHARSARIF')



ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['CHAPRA(E)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['CHAPRA(EAST)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['CHAPRA(W)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['CHAPRA(WEST)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MAHARAJGANJ'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MIRGANJ'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['SONPUR'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['CHAPRA'], 'CHAPRA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DARBHANAGA(U)'], 'DARBHANGA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DARBHANGA(R)'], 'DARBHANGA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DARBHANGA'], 'DARBHANGA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DALSINGHSARAI'], 'DALSINGSARAI')

ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DEHRI'], 'DEHRIONSONE')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DEHRIONSONE'], 'DEHRIONSONE')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['EAST CHAMPARAN'], 'MOTIHARI')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['GAYA(R)'], 'GAYA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['GAYA(U)'], 'GAYA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['GOPALGUNJ'], 'GOPALGANJ')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['HAZIPUR'], 'HAJIPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['JEHANABAD'], 'JAHANABAD')

ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MASAURI'], 'MASAURHI')

ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MUZAFFARPUR(E)'], 'MUZAFFARPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MUZAFFARPUR(U-I)'], 'MUZAFFARPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MUZAFFARPUR(U-II)'], 'MUZAFFARPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MUZAFFARPUR(W)'], 'MUZAFFARPUR')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['NAUGACHHIYA'], 'NAUGACHIA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['NAWADAH'], 'NAWADA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PATLIPUTRA'], 'PATALIPUTRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PESU WEST'], 'DANAPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PIRO'], 'SASARAM')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PURNEA (EAST)'], 'PURNEA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PURNEA(E)'], 'PURNEA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PURNEA(W)'], 'PURNEA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['ROHTAS'], 'SASARAM')



ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['EAST CHAMPARAN'], 'MOTIHARI')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['WEST CHAMPARAN'], 'MOTIHARI')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['KHEMICHAK'], 'PATNA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DHAKA'], 'DHAKA')

#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')

In [20]:
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].str.upper()

In [21]:
# change the division_name old name to new name

ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['BAGAHA'], 'BAGHA')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['ARA'], 'ARRAH')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['ARRAH'], 'ARRAH')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['BHABUA'], 'BHABHUA')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['BHAGALPUR(E)'], 'BHAGALPUR')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['BHAGALPUR(U)'], 'BHAGALPUR')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['BHAGALPUR(URBAN)'], 'BHAGALPUR')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['BIHARSHARIF'], 'BIHARSARIF')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['BIHARSHARIFF'], 'BIHARSARIF')



ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['CHAPRA(E)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['CHAPRA(EAST)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['CHAPRA(W)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['CHAPRA(WEST)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['MAHARAJGANJ'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['MIRGANJ'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['SONPUR'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['CHAPRA'], 'CHAPRA')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['DARBHANAGA(U)'], 'DARBHANGA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['DARBHANGA(R)'], 'DARBHANGA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['DARBHANGA'], 'DARBHANGA')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['DALSINGHSARAI'], 'DALSINGSARAI')

ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['DEHRI'], 'DEHRIONSONE')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['DEHRIONSONE'], 'DEHRIONSONE')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['EAST CHAMPARAN'], 'MOTIHARI')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['GAYA(R)'], 'GAYA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['GAYA(U)'], 'GAYA')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['GOPALGUNJ'], 'GOPALGANJ')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['HAZIPUR'], 'HAJIPUR')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['JEHANABAD'], 'JAHANABAD')

ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['MASAURI'], 'MASAURHI')

ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['MUZAFFARPUR(E)'], 'MUZAFFARPUR')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['MUZAFFARPUR(U-I)'], 'MUZAFFARPUR')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['MUZAFFARPUR(U-II)'], 'MUZAFFARPUR')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['MUZAFFARPUR(W)'], 'MUZAFFARPUR')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['NAUGACHHIYA'], 'NAUGACHIA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['NAWADAH'], 'NAWADA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['PATLIPUTRA'], 'PATALIPUTRA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['PESU WEST'], 'DANAPUR')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['PIRO'], 'SASARAM')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['PURNEA (EAST)'], 'PURNEA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['PURNEA(E)'], 'PURNEA')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['PURNEA(W)'], 'PURNEA')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['ROHTAS'], 'SASARAM')



ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['EAST CHAMPARAN'], 'MOTIHARI')
ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['WEST CHAMPARAN'], 'MOTIHARI')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['KHEMICHAK'], 'PATNA')


ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'] = ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].replace(['DHAKA'], 'DHAKA')

#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')

In [22]:
ALL_DATA_COMPILATION_MERGE.shape

(1740039, 29)

In [24]:
print(f"UNIQUE DIVISION COUNT IN ALL_DATA_COMPILATION_MERGE : {ALL_DATA_COMPILATION_MERGE['DIVISION'].unique().shape}")

print(f"UNIQUE DIVISION COUNT IN ALL_DATA_COMPILATION_MERGE_COPY : {ALL_DATA_COMPILATION_MERGE_COPY['DIVISION'].unique().shape}")

UNIQUE DIVISION COUNT IN ALL_DATA_COMPILATION_MERGE : (82,)
UNIQUE DIVISION COUNT IN ALL_DATA_COMPILATION_MERGE_COPY : (82,)

## Weekly report division table

In [25]:
WEEKLY_REPORT.shape

(119, 2)

In [26]:
WEEKLY_REPORT.head()

    Division Division_new
0    BETTIAH      BETTIAH
1   MOTIHARI     MOTIHARI
2  SHERGHATI    SHERGHATI
3    GAYA(R)         GAYA
4       BARH         BARH

In [27]:
# drop division

WEEKLY_REPORT.drop(['Division'], axis=1, inplace=True)

# rename division_new  : -    Division

WEEKLY_REPORT.rename(
    columns={"Division_new": "DIVISION"},
    inplace=True
)


# drop duplicated value from division

WEEKLY_REPORT.drop_duplicates(subset=['DIVISION'],inplace=True)

In [28]:
WEEKLY_REPORT.shape

(82, 1)

# Update  division and category on infra hes file

In [29]:
# compile Infra NB & SB data

COMPILE_INFRA_DATA_NB_SB = pd.concat([Infrastructure_Devices_NB, Infrastructure_Devices_SB], ignore_index=True)

print("Hes infra file concat complete")



# Custom function to update meter numbers

def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
COMPILE_INFRA_DATA_NB_SB['FULL_METER_NUMBER_INFRA'] = COMPILE_INFRA_DATA_NB_SB['SerialNumber'].apply(update_meter_number)

print("adding a new column FULL_METER_NUMBER_INFRA")

Hes infra file concat complete
adding a new column FULL_METER_NUMBER_INFRA

In [30]:
COMPILE_INFRA_DATA_NB_SB.shape

(1573401, 14)

In [31]:
COMPILE_INFRA_DATA_NB_SB['InstallationDatetime'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['InstallationDatetime'])
COMPILE_INFRA_DATA_NB_SB['EntryDatetime'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['EntryDatetime'])
COMPILE_INFRA_DATA_NB_SB['LastS05'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS05'])
COMPILE_INFRA_DATA_NB_SB['LastS02'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS02'])
COMPILE_INFRA_DATA_NB_SB['LastS04'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS04'])

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17620\3279055606.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_INFRA_DATA_NB_SB['InstallationDatetime'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['InstallationDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17620\3279055606.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_INFRA_DATA_NB_SB['EntryDatetime'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['EntryDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17620\3279055606.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_INFRA_DATA_NB_SB['LastS05'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS05'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17620\3279055606.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_INFRA_DATA_NB_SB['LastS02'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS02'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17620\3279055606.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_INFRA_DATA_NB_SB['LastS04'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS04'])

In [32]:
COMPILE_INFRA_DATA_NB_SB.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA
0,2024-01-03 22:49:59,2023-10-24 22:04:41,NBPDCL,5001461671,LNTLT8069351,LT8069351,2024-04-08,NaT,2024-04-01,85.12826,25.58438,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010,LNTLT8069351

In [33]:
ALL_DATA_COMPILATION_MERGE_COPY.head(1)

,SL,SECTION ID,CLUSTER,CATEGORY,WO STATUS,WORK ORDER TYPE,NEW METER NO,CONSUMER ID,INSTALLATION_NUMBER,NAME,ADDRESS,MOBILE NUMBER,UTILITY NAME,REPLACEMENT DATE,MRU,LAT,LONG,CATEGORY NAME,PHASE,TOWN,VENDOR NAME,SECTION,DIVISION,STATUS,VENDOR_MANAGER,VENDOR_PLANNER,DUPLICATE,SECTION_ID,FULL_METER_NUMBER
0,78183,nan,NBPDCL-West,End To End,FW NMI Complete,New Meter Installation,GL9078091,nan,522112759709,Manisha Kumari,"Ward no 17, nand chowk",8092431718,NBPD,2024-04-07,nan,25.7536154,86.0303386,NDS2D,1,Samastipur,Aman,ROSRA(U),ROSERA,Open,aman_vm_rosera,aman_rosera_vp1,1.0,11411,GOEGL9078091

In [34]:
# merge data with compilation data for Status and Category


MERGE_INFRA_DATA_AND_COMPILATION_DATA = pd.merge(COMPILE_INFRA_DATA_NB_SB,ALL_DATA_COMPILATION_MERGE_COPY[['FULL_METER_NUMBER','DIVISION','CATEGORY NAME']], 
                                                 left_on=['FULL_METER_NUMBER_INFRA'], right_on=['FULL_METER_NUMBER'], how='left')


print("Infra and Compilation data is merged for category and divison wise ")

Infra and Compilation data is merged for category and divison wise

In [38]:
MERGE_INFRA_DATA_AND_COMPILATION_DATA.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,FULL_METER_NUMBER,DIVISION,CATEGORY NAME
0,2024-01-03 22:49:59,2023-10-24 22:04:41,NBPDCL,5001461671,LNTLT8069351,LT8069351,2024-04-08,NaT,2024-04-01,85.12826,25.58438,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010,LNTLT8069351,LNTLT8069351,GARDANIBAGH,DS-IID

In [39]:
# removing rows where division is blank

# NULL & NOT NULL ROWS

MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS=MERGE_INFRA_DATA_AND_COMPILATION_DATA[MERGE_INFRA_DATA_AND_COMPILATION_DATA['DIVISION'].isnull()]
MERGE_INFRA_DATA_AND_COMPILATION_DATA_NOT_NULL= MERGE_INFRA_DATA_AND_COMPILATION_DATA[~MERGE_INFRA_DATA_AND_COMPILATION_DATA['DIVISION'].isnull()]


# null data

print(f"This much rows is blank where division is null :- {MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS.shape}")

This much rows is blank where division is null :- (299, 17)

#### privilege file

In [40]:
# HERE WILL JOIN THE REMAINING NULL DIVISION ROWS WITH HELP OF PRIVILEGE DATA


# concat data  concat_Orgwise_Privilege_group_status_NB_SB
concat_Orgwise_Privilege_group_status_NB_SB = pd.concat([Orgwise_Privilege_group_status_SB,Orgwise_Privilege_group_status_NB],ignore_index=True)

# dop duplicate in  concat_Orgwise_Privilege_group_status_NB_SB
concat_Orgwise_Privilege_group_status_NB_SB.drop_duplicates(subset=['METERNO'], keep='first', inplace=True, ignore_index=True)


# upper letter
concat_Orgwise_Privilege_group_status_NB_SB.columns = concat_Orgwise_Privilege_group_status_NB_SB.columns.str.upper()


# Remove leading and trailing whitespaces from all columns where dtype is 'O'
concat_Orgwise_Privilege_group_status_NB_SB = concat_Orgwise_Privilege_group_status_NB_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)





concat_Orgwise_Privilege_group_status_NB_SB.shape

(1570605, 14)

In [41]:
concat_Orgwise_Privilege_group_status_NB_SB.head(2)

,UTILITY,INSTALLATIONNUMBER,CONSUMERNO,METERNO,INSTALLATIONDATE,CONSUMERTYPE,PRIVILEGEGROUP,CURRENTBALANCE,CONNECTEDSTATUS,NETMETERING,LASTRECHARGEDATE,LASTRECHARGEAMOUNT,DIVISION,CATEGORY
0,SBPDCL,ARWARL15956,23230039685,GOEGP4970511,9/6/2019 12:00:00 AM,Prepaid,N,-138.81,Y,N,12/29/2023 3:41:00 PM,1000.0,ARWAL,NDS2D
1,SBPDCL,ARWARL1255,23230000081,GOEGP4969868,9/8/2019 12:00:00 AM,Prepaid,N,1021.96,Y,N,3/11/2024 3:21:58 PM,500.0,ARWAL,DS2D

In [42]:
MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,FULL_METER_NUMBER,DIVISION,CATEGORY NAME
14087,2023-01-23 12:13:25,2022-12-24 22:38:35,NBPDCL,5003511955,LNTLT1059623,LT1059623,2023-08-21,2023-08-21,2023-08-01,84.71236,25.78829,Imported&&Installed,2405:0203:0531:7BDB:0000:0000:0000:0010,LNTLT1059623,NaN,NaN,NaN

In [43]:
# DROP EXTRA COLUMN OF  LEFT_JOIN_WITH_RC_DC_MODIFIED_ALL_DATA_COMPILATION_NULL_ROWS

MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS.drop(['DIVISION', 'CATEGORY NAME','FULL_METER_NUMBER'], axis=1, inplace=True)

# merge rc_Dc and privilege for division and category
MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS_PRIVILEGED=pd.merge(MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS, concat_Orgwise_Privilege_group_status_NB_SB[['METERNO','DIVISION','CATEGORY']], left_on=['FULL_METER_NUMBER_INFRA'], right_on=['METERNO'], how='left')


# rename the column  from METERNO to FULL_METER_NUMBER
MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS_PRIVILEGED.rename(columns={'METERNO':'FULL_METER_NUMBER'},inplace=True)
MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS_PRIVILEGED.rename(columns={'CATEGORY':'CATEGORY NAME'},inplace=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17620\2556484142.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS.drop(['DIVISION', 'CATEGORY NAME','FULL_METER_NUMBER'], axis=1, inplace=True)

#### concat data  MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS_PRIVILEGED and MERGE_INFRA_DATA_AND_COMPILATION_DATA_NOT_NULL

In [44]:
MERGE_INFRA_COMIPLATION_PRIVILEGE_FOR_DIVISION_CATEGORY_MAPPING=pd.concat([MERGE_INFRA_DATA_AND_COMPILATION_DATA_NOT_NULL,MERGE_INFRA_DATA_AND_COMPILATION_DATA_NULL_ROWS_PRIVILEGED],ignore_index=True)

MERGE_INFRA_DATA_AND_COMPILATION_DATA_MAP_DIVISION_CATEGORY=MERGE_INFRA_COMIPLATION_PRIVILEGE_FOR_DIVISION_CATEGORY_MAPPING[~MERGE_INFRA_COMIPLATION_PRIVILEGE_FOR_DIVISION_CATEGORY_MAPPING['DIVISION'].isnull()]

In [45]:
# This data has both 

MERGE_INFRA_DATA_AND_COMPILATION_DATA_MAP_DIVISION_CATEGORY.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,FULL_METER_NUMBER,DIVISION,CATEGORY NAME
0,2024-01-03 22:49:59,2023-10-24 22:04:41,NBPDCL,5001461671,LNTLT8069351,LT8069351,2024-04-08,NaT,2024-04-01,85.12826,25.58438,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010,LNTLT8069351,LNTLT8069351,GARDANIBAGH,DS-IID

In [52]:
MERGE_INFRA_DATA_AND_COMPILATION_DATA_MAP_DIVISION_CATEGORY.shape

(1573395, 17)

### Null and not null as per lastso5 column

In [46]:
# HES INFRA DATA NB & SB


COMPILE_INFRA_NB_SB_NULL_DATA=MERGE_INFRA_DATA_AND_COMPILATION_DATA_MAP_DIVISION_CATEGORY[MERGE_INFRA_DATA_AND_COMPILATION_DATA_MAP_DIVISION_CATEGORY['LastS05'].isnull()]
COMPILE_INFRA_NB_SB_NOT_NULL_DATA=MERGE_INFRA_DATA_AND_COMPILATION_DATA_MAP_DIVISION_CATEGORY[~MERGE_INFRA_DATA_AND_COMPILATION_DATA_MAP_DIVISION_CATEGORY['LastS05'].isnull()]

print("Categories null and not null")

Categories null and not null

SyntaxError: invalid syntax (2220977292.py, line 1)

# Report column

# 1

In [47]:
ALL_DATA_COMPILATION_MERGE_WITHOUT_SSR = ALL_DATA_COMPILATION_MERGE[ALL_DATA_COMPILATION_MERGE['WORK ORDER TYPE'] != 'SSR']
ALL_DATA_COMPILATION_MERGE_WITHOUT_SSR_COUNT = ALL_DATA_COMPILATION_MERGE_WITHOUT_SSR.groupby(['DIVISION'])['NEW METER NO'].count()


#LEFT JOIN

METER_WISE_DIVISION_COUNT_COMPILED_DATA = pd.merge(ALL_DATA_COMPILATION_MERGE_WITHOUT_SSR_COUNT,WEEKLY_REPORT,left_on=['DIVISION'],right_on=['DIVISION'], how = 'left')

In [48]:
ALL_DATA_COMPILATION_MERGE_WITHOUT_SSR.shape

(1596515, 29)

In [49]:
METER_WISE_DIVISION_COUNT_COMPILED_DATA.head(1)

  DIVISION  NEW METER NO
0  AMARPUR          3323

# 2

In [ ]:
MERGE_INFRA_DATA_AND_COMPILATION_DATA.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,NEW METER NO,DIVISION,CATEGORY NAME
0,2024-01-03 22:49:59,2023-10-24 22:04:41,NBPDCL,5001461671,LNTLT8069351,LT8069351,2024-03-19,NaT,2024-03-01,85.12826,25.58438,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010,LNTLT8069351,LT8069351,GARDANIBAGH,DS-IID

In [ ]:
#METER_WISE_DIVISION_COUNT_LEFT['Infra_total_count']

METER_WISE_DIVISION_COUNT_INFRA= MERGE_INFRA_DATA_AND_COMPILATION_DATA_MAP_DIVISION_CATEGORY.groupby(['DIVISION'])['FULL_METER_NUMBER_INFRA'].count()

# Merge data  METER_WISE_DIVISION_COUNT_LEFT,   METER_WISE_DIVISION_COUNT_INFRA  on the basis of division

WEEKLY_REPORT_FINAL_DATA=pd.merge(METER_WISE_DIVISION_COUNT_COMPILED_DATA,METER_WISE_DIVISION_COUNT_INFRA,left_on=['DIVISION'],right_on=['DIVISION'],how='left')

In [ ]:
# column rename

WEEKLY_REPORT_FINAL_DATA.rename(columns={'FULL_METER_NUMBER_INFRA':'Total_meter_count_infra_file'},inplace=True)

In [ ]:
WEEKLY_REPORT_FINAL_DATA.head()

   DIVISION  NEW METER NO  Total_meter_count_infra_file
0   AMARPUR          3317                          3311
1    ARARIA           379                           379
2     ARRAH         20812                         22244
3     ARWAL          9251                         10308
4  ASHIYANA         44386                         45381

# 3

In [ ]:
# Communicating count within 7 days

In [ ]:
# Calculate the date 7 days ago
seven_days_ago = datetime.now() - timedelta(days=7)


# Filter the DataFrame to keep only rows before the last 7 days
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY = COMPILE_INFRA_NB_SB_NOT_NULL_DATA[COMPILE_INFRA_NB_SB_NOT_NULL_DATA['LastS05'] > seven_days_ago]

# Display the filtered DataFrame
#COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.head()


# COMMUNICATING METER COUNT

COMMUNICATING_METER_PER_DIVISION_COUNT = COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.groupby(['DIVISION'])['FULL_METER_NUMBER_INFRA'].count()

# merge data with weekly report data

WEEKLY_REPORT_FINAL_DATA=pd.merge(WEEKLY_REPORT_FINAL_DATA,COMMUNICATING_METER_PER_DIVISION_COUNT,left_on=['DIVISION'],right_on=['DIVISION'],how='left')

In [ ]:
# column rename

WEEKLY_REPORT_FINAL_DATA.rename(columns={'FULL_METER_NUMBER_INFRA':'Total_meter_count_infra_file_less_than_7_Day'},inplace=True)

In [ ]:
WEEKLY_REPORT_FINAL_DATA.head()

,DIVISION,NEW METER NO,Total_meter_count_infra_file,Total_meter_count_infra_file_less_than_7_Day
0,AMARPUR,3317,3311,2980
1,ARARIA,379,379,105
2,ARRAH,20812,22244,19608
3,ARWAL,9251,10308,8912
4,ASHIYANA,44386,45381,44428

# 4

In [ ]:
# Calculate the date 7 days ago
seven_days_ago = datetime.now() - timedelta(days=7)
Fifteen_days_ago = datetime.now() - timedelta(days=15)


# Filter the DataFrame to keep only rows before the last 7 days
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_TO_15_DAYS = COMPILE_INFRA_NB_SB_NOT_NULL_DATA[(COMPILE_INFRA_NB_SB_NOT_NULL_DATA['LastS05'] < seven_days_ago) & (COMPILE_INFRA_NB_SB_NOT_NULL_DATA['LastS05'] > Fifteen_days_ago)]

# Display the filtered DataFrame
#COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.head()


# COMMUNICATING METER COUNT

COMMUNICATING_METER_PER_DIVISION_COUNT_7_15_DAYS = COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_TO_15_DAYS.groupby(['DIVISION'])['FULL_METER_NUMBER_INFRA'].count()

# merge data with weekly report data

WEEKLY_REPORT_FINAL_DATA=pd.merge(WEEKLY_REPORT_FINAL_DATA,COMMUNICATING_METER_PER_DIVISION_COUNT_7_15_DAYS,left_on=['DIVISION'],right_on=['DIVISION'],how='left')

In [ ]:
# column rename

WEEKLY_REPORT_FINAL_DATA.rename(columns={'FULL_METER_NUMBER_INFRA':'Total_meter_count_infra_file_between_7_15_Days'},inplace=True)

# 5

In [ ]:
# Calculate the date 7 days ago
Sixteen_days_ago = datetime.now() - timedelta(days=16)
Thirty_days_ago = datetime.now() - timedelta(days=30)


# Filter the DataFrame to keep only rows before the last 7 days
COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_16_TO_30_DAYS = COMPILE_INFRA_NB_SB_NOT_NULL_DATA[(COMPILE_INFRA_NB_SB_NOT_NULL_DATA['LastS05'] < Sixteen_days_ago) & (COMPILE_INFRA_NB_SB_NOT_NULL_DATA['LastS05'] > Thirty_days_ago)]

# Display the filtered DataFrame
#COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.head()


# COMMUNICATING METER COUNT

COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_16_TO_30_DAYS = COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_16_TO_30_DAYS.groupby(['DIVISION'])['FULL_METER_NUMBER_INFRA'].count()

# merge data with weekly report data

WEEKLY_REPORT_FINAL_DATA=pd.merge(WEEKLY_REPORT_FINAL_DATA,COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_16_TO_30_DAYS,left_on=['DIVISION'],right_on=['DIVISION'],how='left')

In [ ]:
# column rename

WEEKLY_REPORT_FINAL_DATA.rename(columns={'FULL_METER_NUMBER_INFRA':'Total_meter_count_infra_file_between_16_30_Days'},inplace=True)

In [ ]:
WEEKLY_REPORT_FINAL_DATA

,DIVISION,NEW METER NO,Total_meter_count_infra_file,Total_meter_count_infra_file_less_than_7_Day,Total_meter_count_infra_file_between_7_15_Days,Total_meter_count_infra_file_between_16_30_Days
0,AMARPUR,3317,3311,2980,12.0,30.0
1,ARARIA,379,379,105,15.0,23.0
2,ARRAH,20812,22244,19608,107.0,164.0
3,ARWAL,9251,10308,8912,118.0,154.0
4,ASHIYANA,44386,45381,44428,127.0,130.0
...,...,...,...,...,...,...
77,SHERGHATI,7063,7161,6061,19.0,97.0
78,SIMRI BAKHTIYARPUR,147,147,36,6.0,38.0
79,SITAMARHI,33137,34719,33056,73.0,95.0
80,SIWAN,23119,24226,22710,63.0,100.0
81,SUPAUL,15318,15569,14771,73.0,137.0

# 6

In [ ]:
# Calculate the date 7 days ago

Thirty_days_ago = datetime.now() - timedelta(days=30)


# Filter the DataFrame to keep only rows before the last 7 days
COMPILE_DATA_NB_SB_NOT_NULL_DATA_MORE_THAN_30_DAYS = COMPILE_INFRA_NB_SB_NOT_NULL_DATA[COMPILE_INFRA_NB_SB_NOT_NULL_DATA['LastS05'] < Thirty_days_ago]

COMPILE_DATA_NB_SB_NOT_NULL_DATA_MORE_THAN_30_DAYS.shape

(86078, 17)

In [ ]:
# Calculate the date 7 days ago

Thirty_days_ago = datetime.now() - timedelta(days=30)


# Filter the DataFrame to keep only rows before the last 7 days
COMPILE_DATA_NB_SB_NOT_NULL_DATA_MORE_THAN_30_DAYS = COMPILE_INFRA_NB_SB_NOT_NULL_DATA[COMPILE_INFRA_NB_SB_NOT_NULL_DATA['LastS05'] < Thirty_days_ago]

# Display the filtered DataFrame
#COMPILE_DATA_NB_SB_NOT_NULL_DATA_LAST_7_DAY.head()


# COMMUNICATING METER COUNT

COMPILE_DATA_NB_SB_NOT_NULL_DATA_MORE_THAN_30_DAYS = COMPILE_DATA_NB_SB_NOT_NULL_DATA_MORE_THAN_30_DAYS.groupby(['DIVISION'])['FULL_METER_NUMBER_INFRA'].count()

# merge data with weekly report data

WEEKLY_REPORT_FINAL_DATA=pd.merge(WEEKLY_REPORT_FINAL_DATA,COMPILE_DATA_NB_SB_NOT_NULL_DATA_MORE_THAN_30_DAYS,left_on=['DIVISION'],right_on=['DIVISION'],how='left')

In [ ]:
# column rename

WEEKLY_REPORT_FINAL_DATA.rename(columns={'FULL_METER_NUMBER_INFRA':'Total_meter_count_infra_file_more_than_30_Days'},inplace=True)

In [ ]:
WEEKLY_REPORT_FINAL_DATA.head()

,DIVISION,NEW METER NO,Total_meter_count_infra_file,Total_meter_count_infra_file_less_than_7_Day,Total_meter_count_infra_file_between_7_15_Days,Total_meter_count_infra_file_between_16_30_Days,Total_meter_count_infra_file_more_than_30_Days
0,AMARPUR,3317,3311,2980,12.0,30.0,276
1,ARARIA,379,379,105,15.0,23.0,166
2,ARRAH,20812,22244,19608,107.0,164.0,2271
3,ARWAL,9251,10308,8912,118.0,154.0,1081
4,ASHIYANA,44386,45381,44428,127.0,130.0,659